.all_spec-wrap{
  background: #fff;
  .all_spec-inner{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
      .all_spec-title{
        margin-top: 92px;
        display: flex;
        align-items:center;
        &__name{
          font-family: VolvoBroadPro;
          font-size: 47px;
          color: #222222;
          margin-right: 40px;
        }
        .btn_white{
          display: none;
        }
      }
      .all_spec-row{
        margin-top: 40px;
        display: flex;

      }
   }
}
@media (max-width: 1440px) {
  .all_spec-wrap {
    .all_spec-inner {
      .all_spec-title {
          margin-left: 15px;
      }
      .all_spec-row {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }
}
@media (max-width: 992px) {
  .all_spec-wrap {
    .all_spec-inner {
      .all_spec-title {
        justify-content: center;
        text-align: center;
      }
      .all_spec-row {
        margin-top: 0px;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}
@media (max-width: 768px) {
  .all_spec-wrap {
    .all_spec-inner {
      .all_spec-title {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 40px;
        flex-direction: column;
        &__name{
          margin-right: 0px;
          font-size: 41px;
        }
        .btn_white{
          display: flex;
        }
      }
      .all_spec-row {
        &:nth-child(3) {
          .spec-avto:nth-child(4) {
            display: none;
          }
        }
        &:nth-child(4) {
          display: none;
        }
      }
    }
  }
}
