.equipment-wrap{
  background: #fff;

  .equipment-inner{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 98px;
    display: flex;

    .equipment-left{
      width: 100%;
      max-width: 338px;
      margin-right: 30px;

      &__name{
        font-family: 'VolvoBroadPro','sans-serif';
        font-size: 47px;
        color: #222222;
        height: 40px;
      }

      &__img{
        margin-top: 40px;
      }
    }

    .equipment-right{
      width: 100%;
      max-width: 1072px;

      &__descr{
        max-width: 460px;
        font-style: normal;
        font-weight: normal;
        line-height: 21px;
        font-size: 15px;
        color: #555555;
        display: flex;
        align-items:center;
      }

      &__model{
        display: flex;
        margin-top: 40px;
        padding-bottom: 20px;
        border-bottom: 1px solid #E5E5E5;
      }

      &__model-sub{
        display: flex;
        flex-wrap: wrap;
      }

      &__char{
        margin-top: 40px;
        display: flex;
        align-items: center;

        .kit__title-char{
          display: none;
          font-family: 'Roboto Condensed','sans-serif';
          font-style: normal;
          font-weight: 300;
          font-size: 29px;
          color: #555555;
        }
        .char-price{
          width: 100%;
          max-width: 367px;
          height: 77px;
          background: #E5E5E5;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 30px;

          &__value{
            font-family: 'Roboto Condensed','sans-serif';
            font-style: normal;
            font-weight: normal;
            font-size: 55px;
            text-align: center;
            letter-spacing: -0.01em;
            color: #000000;
          }
          &__sign{
            font-size: 43px;
          }
        }
        .char-attr{
          display: flex;
          flex-direction: column;

          &__top{
            display: flex;
            align-items: center;
          }

          &__bot{
            display: flex;
            align-items: center;
          }

          &__name{
             font-style: normal;
             font-weight: normal;
             font-size: 15px;
             color: #555555;
             width: 101px;
             margin-right: 10px;
             text-align: left;
          }

          &__value{
             font-family: 'Roboto Condensed','sans-serif';
             font-style: normal;
             font-weight: normal;
             font-size: 23px;
             color: #000000;
          }
        }
      }

      &__img{
        display: none;
      }

      .kit{
        margin-top: 32px;
        margin-bottom: 100px;

        &__title{
          font-family: 'Roboto Condensed','sans-serif';
          font-style: normal;
          font-weight: 300;
          font-size: 41px;
          color: #555555;
        }
        &__columns{
          display: flex;
          height: 1236px;
          /*max-height: 1236px;*/
          flex-direction: column;
          flex-wrap: wrap;

          .kit__col{
            width: 100%;
            max-width: 337px;
            margin-top: 25px;

            &:nth-child(-n+5){
              margin-right: 30px;
            }

          }
        }
      }
    }
  }
}
@media (max-width: 1440px) {
  .equipment-wrap{
    .equipment-inner {
      .equipment-left{
        margin-left: 15px;
      }
      .equipment-right {
        margin-right: 15px;
        max-width: 1042px;
        .kit{
          margin-bottom: 0px;
          &__columns{
            /*max-height: 1736px;*/
            .kit__col{
              max-width: 300px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1344px) {
  .equipment-wrap{
    .equipment-inner {
      .equipment-left{
      }
      .equipment-right {
        .kit{
          &__columns{
            height: 1536px;
            .kit__col{
              max-width: 400px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1212px) {
  .equipment-wrap{
    .equipment-inner {
      .equipment-left{
      }
      .equipment-right {
        .kit{
          &__columns{
            height: 1636px;
            .kit__col{
              max-width: 350px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1112px) {
  .equipment-wrap{
    .equipment-inner {
      .equipment-left{
      }
      .equipment-right {
        .kit{
          &__columns{
            height: 1736px;
            .kit__col{
              max-width: 300px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .equipment-wrap{
    .equipment-inner {
      padding-top: 40px;
      .equipment-left{
        max-width: 300px;
        display: none;
        &__name{
          font-size: 39px;
          text-align: center
        }
      }
      .equipment-right {
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
        &__char{
          .char-price{
            max-width: 327px;
            & span{
              font-size: 45px;
            }
          }
        }
        .kit{
          &__columns{
            height: 1606px;
            .kit__col{
              max-width: 400px;
            }
          }
        }
      }
    }
  }
}
/*@media (max-width: 910px) {
  .equipment-wrap{
    .equipment-inner {
      .equipment-left{
      }
      .equipment-right {
        .kit{
          &__columns{
            max-height: 2036px;
            .kit__col{
              max-width: 250px;
            }
          }
        }
      }
    }
  }
}*/
@media (max-width: 840px) {
  .equipment-wrap{
    .equipment-inner {
      .equipment-left{
      }
      .equipment-right {
        .kit{
          &__columns{
            .kit__col{
              max-width: 220px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .equipment-wrap{
    .equipment-inner {
      flex-direction: column;
      .equipment-left{
        max-width: 768px;
        margin-left: 0px;
        &__name{
          text-align: center;
          margin-left: 16px;
        margin-right: 16px;
        }
        &__img{
          display: none
        }

      }
      .equipment-right {
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        &__descr{
          margin-left: 8px;
          margin-top: 8px;
          padding-right: 8px;
          max-width: 768px;
        }
        &__model{
          max-width: 768px;
          flex-wrap: wrap;
          margin: 0 auto;
          border-bottom: none;
          padding: 24px 8px 8px 8px;
          justify-content: center;
        }
        &__model-sub{
          max-width: 768px;
          padding: 0 8px 8px 8px;
          margin: 0 auto;
          background: #F5F5F5;
          justify-content: center;
        }
        &__char{
          max-width: 240px;
          flex-direction: column;
          margin: 24px 16px 0 8px;
          overflow: hidden;

          .kit__title-char{
            display: flex;
            order: -1;
          }
          .char-price{
            max-width: 237px;
            height: 48px;
            margin-right: 0px;
            margin-top: 24px;
            background: none;
            display: block;
            & span{
              font-size: 40px;
            }
          }
          .char-attr{
            order: -1;
            margin-left: -30px;
            &__top{
            }
            &__bot{
            }
            &__name{
              font-size: 14px;
              margin-right: 29px;
            }
            &__value{
            }
          }
        }
        &__img{
          display: block;
          max-height: 208px;
          max-width: 48px;
          position: absolute;
          right: 0
        }
        .kit{
          margin-top: 32px;
          margin-bottom: 0;
          padding-left: 8px;
          padding-right: 8px;
          &__title{
            display: none;
          }
          &__columns{
            height: 100%;
            .kit__col{
              border: 1px solid #E5E5E5;
              max-width: 768px;
              margin-right: 0px;
              margin-top: 0px;

              &:not(:first-child) {
                margin-top: 16px;
              }
            }

            .list-item__title{
              padding-left: 30px;
              padding-right: 30px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 40px;
              border-radius: 3px;
              cursor: pointer;
              font-weight: 500;
              line-height: 24px;
              font-size: 17px;
              color: #555555;
              background: #E5E5E5;
            }
            .list-item__info-wrap {
              display: none;
              padding: 0px 16px 24px 16px;

              .list-item__info{
                margin-top: 16px;
              }
            }

          }
        }
      }
    }
  }
}
@media (max-width: 414px) {
  .equipment-wrap{
    .equipment-inner {
      .equipment-left{
      }
      .equipment-right {
        &__model-sub{
          max-width: 100%;
          justify-content: center;
        }
        &__img{
          max-width: 54px;
        }
      }
    }
  }
}
