.footer_wrap {
  margin-top: 57px;
  width: 100%;
  background: #222222;
}

.footer-inner {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  min-height: 406px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.logo_footer {
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;

  img {
    width: 256px;
  }
}

.footer_menu {
  padding-top: 44px;
  display: flex;
}

.footer_col {
  display: flex;
  flex-direction: column;
  width: 215px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.footer_service {
  width: 100%;
  max-width: 460px;
  margin-right: 30px;
}

.footer_link_2 {
  display: flex;
  padding-top: 13px;
}

.footer_text-col {
  &:not(:last-child) {
    margin-right: 30px;
  }

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 215px;
}

.footer_title {
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-size: 17px;
  padding-bottom: 13px;
  color: #FFFFFF;
  border-bottom: 1px solid #555555;
}

.footer_link {
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  font-size: 15px;
  color: #555555;
  transition: .3s linear;

  &:hover {
    color: #FFFFFF;
  }
}

.footer_link_1 {
  padding-top: 13px;
}

.footer_spec {
  padding-top: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-size: 17px;
  color: #FFFFFF;
}

.tel {
  font-size: 18px;
}

.btn_footer {
  margin-top: 15px;
  margin-bottom: 18px;
  width: 160px;
  height: 30px;
  color: #555555;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #555555;
  box-sizing: border-box;
  cursor: pointer;
  transition: .3s linear;

  &:hover {
    color: #FFFFFF;
  }

  &:active {
    color: #555555;
  }
}

.btn_footer_text {
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 13px;
  text-align: center;
}

.footer_black {
  width: 100%;
  background: #161618;
}

.footer_b-inner {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  min-height: 130px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .btn_blue {
    margin-top: 40px;
    max-width: 245px;
    height: 50px;
  }
}

.footer_b-inner__right {
  display: flex;
}

.footer_logo {
  display: flex;
  padding-bottom: 10px;
  .logo__ml {
    margin-right: 29px;
  }
}

.logo_bottom {
  margin-right: 30px;
  padding-top: 48px;
}

.policy {
  display: flex;
  flex-direction: column;
  margin-left: 26px;
  padding-top: 40px;
  &_text {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 13px;
    color: #555555;
    &:not(:first-child) {
      margin-top: 8px;
    }
  }
}

.dev_studio {
  margin-left: 104px;
  padding-top: 42px;
  &_text {
    text-align: center;
    margin-bottom: 8px;
  }
}

@media (max-width: 1440px) {
  .footer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer_menu {
    justify-content: space-between;
  }
  .footer_text-col {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

@media (max-width: 1220px) {
  .footer_menu {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer_col {
    margin-bottom: 30px;
    &:last-child {
      width: 246px;
    }
  }
  .dev_studio {
    padding-left: 0;
    padding-right: 0;
  }
  .footer_service {
    width: 600px;
  }
  .footer_spec{
    padding-top: 13px;
  }
}

@media (max-width: 1170px) {
  .footer_black {
    .footer {
      .footer_b-inner {
        .btn_blue {
          margin-top: 40px;
          max-width: 200px;
          height: 50px;
        }
      }
    }
  }

  .dev_studio {
    margin-left: 40px;
    padding-top: 42px;
  }

}

@media (max-width: 992px) {
  .footer_logo {
    display: flex;
    padding-bottom: 10px;
    .logo__ml {
      margin-right: 15px;
    }
  }
  .policy {
    margin-left: 15px;
  }
  .footer_link {
    line-height: 28px;
  }
  .dev_studio {
    display: none;
  }

  .footer_col {
    max-width: 215px;
  }
  .footer {
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer_b-inner {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer_service {
    max-width: 460px;
  }
  .col_5{
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .logo_footer {
    padding-top: 32px;
  }
  .footer_b-inner__right {
    flex-direction: column;
  }
  .footer_service {
    max-width: 100%;
  }
  .footer_wrap {
    margin-top: 8px;
  }
  .footer_menu {
    /*flex-direction: column;*/
    padding-top: 9px;
  }
  .footer_col {
    /*max-width: 100%;*/
    max-width: 300px;
    margin-bottom: 0px;
    /*&:not(:last-child) {
      margin-right: 0;
    }*/
  }
  .col_5 {
    order: -1;
    margin-right: 0;
  }
  .footer_title {
    border-bottom: none;
  }
  /*.col_1 {
    margin-top: 24px;
  }*/
  .col_2 {
    margin-top: 24px;
  }
  .col_3 {
    margin-top: 24px;
  }
  .col_4 {
    margin-top: 24px;
    margin-bottom: 61px;
  }
  .footer_link_1 {
    padding-top: 0;
  }
  .footer_link_2 {
    padding-top: 0;
    display: block;
  }
  .btn_footer {
    margin-top: 1px;
    margin-bottom: 11px;
    width: 140px;
    height: 30px;
  }
  /*.footer_spec {
    padding-top: 24px;
  }*/
  .footer_b-inner {
    flex-direction: column;

  }
  .footer_logo {
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    .logo__ml {
      margin-right: 21px;
      width: 150px;
    }
    .logo__volvo {
      width: 24px;
      margin-right: 5px;
    }
    .logo__text {
      font-size: 10px;
    }
  }
  .logo_bottom {
    padding-top: 0;
  }
  .bestdiler_footer {
    padding-top: 0;
  }
  .policy {
    padding-top: 17px;
    text-align: left;
    margin-left: 0;
  }

  .btn_test {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 34px;
  }
  .dev_studio {
    margin: 0 auto;
    display: block;
    padding-top: 20px;
  }

  .footer_black {
    padding-bottom: 34px;
    .footer {
      .footer_b-inner {
        max-width: 275px;
        .btn_blue {
          margin-top: 15px;
          max-width: 320px;
        }
      }
    }
  }
}
@media (max-width: 522px) {
.col_1 {
    margin-top: 24px;
  }
}
