.header {
  background: #fff;
  .header-inner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header_left {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .header_center {
      display: flex;
      justify-content: center;
      .header_center-logo {
        width: 60px;
        height: 60px;
      }
      .header_center-logo-img {
        width: 60px;
        height: 60px;
      }
    }
    .header_right {
      height: 100%;
      width: 100%;
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .btn_blue {
        height: 100%;
      }
      .header_right-info {
        margin-right: 39px;
        text-align: right;
        display: flex;
        flex-direction: column;
      }
      .header_right-info-flex {
        display: flex;
        align-items: center;
        .btn_call {
          margin-left: 6px;
          margin-top: 4px;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .header {
    .header-inner {
      .header_left {
        .logo {
          margin-left: 15px;
        }
      }
    }
  }
}

@media (max-width: 1260px) {
  .header {
    .header-inner {
      .header_right {
        .header_right-info {
          margin-right: 15px;
        }
        .btn_blue {
          max-width: 200px;
        }
      }
    }
  }
}

@media (max-width: 1170px) {
  .header {
    .header-inner {
      .header_right {
        .header_right-info-flex {
          flex-direction: column;
          align-items: flex-end;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .header {
    .header-inner {
      height: 100px;
      .header_left {
        display: none;
        .logo {
          &__ml {
            width: 145px;
          }
          &__volvo {
            width: 25px;
          }
        }
      }
      .header_center {
        margin: 0 auto;
        .header_center-logo-img {
        }
      }
      .header_right {
        display: none;
        .header_right-info {
          .main-info {
            width: 146px;
          }
        }
        .header_right-info-flex {
          flex-direction: column;
          align-items: flex-end;
        }
        .btn_blue {
          max-width: 170px;
        }
      }
    }
  }
}

@media (max-width: 768px) {

}
