.nav {
  background: #222222;
  position: relative;

  .nav-inner {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;

    &_link {
      height: 100%;
      min-height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .3s linear;
      padding: 0 20px 0 20px;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 0;
      }
      &:hover {
        background: #FFFFFF;
        /*.nav-inner_link-arrow {
          transform: rotateZ(-180deg);
          transition: 0.3s;
        }*/
        .nav-inner_link-name {
          color: #161618;
        }
        .nav-inner_link-span-left {
          transform: rotate(-220deg);
        }
        .nav-inner_link-span-right {
          transform: rotate(40deg);
          margin-left: -2px;
        }
      }
    }

    &_link-name {
      width: auto;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      font-size: 17px;
      color: #FFFFFF;
    }

   /* &_link-arrow {
      margin-left: 5px;
      margin-top: 3px;
      height: auto;
      width: 14px;
      transition: 0.3s linear;
    }*/
    &_link-span{
      width: 8px;
      border-bottom: 1px solid #555555;
      transition: 0.3s linear;
    }
    &_link-span-left {
      transform: rotate(-140deg);
      margin-left: 5px;
    }
    &_link-span-right {
      transform: rotate(-40deg);
      margin-left: -2px;
    }
  }
  .nav-inner_link-mod:hover {
    .nav-menu__wrap-mod {
      display: flex;
      /*border-bottom: 1px solid #E5E5E5;*/
    }
  }
  .nav-inner_link-finance:hover {
    .nav-menu__wrap-finance {
      display: flex;
     /* border-bottom: 1px solid #E5E5E5;*/
    }
  }
  .nav-inner_link-about:hover {
    .nav-menu__wrap-about {
      display: flex;
      /*border-bottom: 1px solid #E5E5E5;*/
    }
  }
  .nav-inner_link-service:hover {
    .nav-menu__wrap-service {
      display: flex;
      /*border-bottom: 1px solid #E5E5E5;*/
    }
  }
}

.nav-menu__wrap {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  background: #FFFFFF;
  height: 500px;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 100;
}

.nav-inner__block {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  transition: 0.3s linear;
}

.nav-inner__block-left {
  width: 100%;
  max-width: 980px;
  height: 100%;
  padding-top: 40px;
  margin-right: 120px;
}

.nav-row {
  display: flex;
  &:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid #F5F5F5;
  }
  &:not(:first-child) {
    margin-top: 19px;
  }
  &__auto {
    padding: 0 10px 6px 10px;
    border-bottom: 4px solid #FFFFFF;
    transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 30px;
    }
    &:hover {
      border-bottom: 4px solid #0051CA;
    }
  }

  &__title {
    width: 100%;
    max-width: 123px;
    font-family: 'Roboto Condensed', 'sans-serif';
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 23px;
    letter-spacing: -0.02em;
    color: #141414;
  }

  &__model {
    font-family: 'VolvoBroadPro', 'sans-serif';
    line-height: normal;
    font-size: 21px;
    display: flex;
    align-items: center;
    color: #222222;

    & span {
      margin-left: 8px;
      font-family: 'Roboto Condensed', 'sans-serif';
      font-style: normal;
      font-weight: normal;
      line-height: 10px;
      font-size: 11px;
      text-transform: uppercase;
      color: #555555;
    }
  }

  &__img {
    height: 100%;
    max-height: 100px;
    margin-top: -10px;
  }
}

.nav-inner__block-right {
  width: 100%;
  max-width: 460px;
  height: 100%;
  padding-top: 40px;
}

.block-right-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    .block-right-item {
      &__arrow {
        margin-left: 10px;
      }
    }
  }

  &__name {
    font-family: 'Roboto Condensed', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 21px;
    color: #161618;
  }

  &__arrow {
    height: 12px;
    width: 4px;
    margin-left: 4px;
    transition: 0.3s;
  }

  &:not(:first-child) {
    margin-top: 30px;
  }
}

.nav-menu__wrap-finance {
  height: 100%;
  max-height: 60px;
  display: none;
  transition: 0.3s;

  .nav-inner__block-finance {
    .finance_name {
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      font-size: 19px;
      margin-top: 20px;
      color: #222222;
      transition: 0.2s linear;
      border-bottom: 4px solid #fff;
      &:hover {
        border-bottom: 4px solid #0051ca;
      }
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }
}

.nav-menu__wrap-service {
  height: 100%;
  min-height: 120px;
  display: none;
  .nav-inner__block-service {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    .service_name {
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      font-size: 19px;
      transition: 0.2s linear;
      color: #222222;
      border-bottom: 4px solid #fff;
      &:hover {
        border-bottom: 4px solid #0051ca;
      }
      &:not(:nth-child(8)) {
        margin-right: 40px;
      }

      &:nth-child(-n+8) {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 1505px) {
  .nav {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (max-width: 1436px) {
  .nav-menu__wrap-service {
    .nav-inner__block-service {
      .service_name {
        &:not(:nth-child(9)) {
          margin-right: 40px;
        }
      }
    }
  }
}

@media (max-width: 1220px) {
  .nav-inner__block-right {
    max-width: 300px;
  }
}

@media (max-width: 992px) {
  .nav {
    display: none;
  }
}
