.spec_offer-wrap {
  background: #fff;
  .spec_offer-inner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    .spec_offer-title {
      margin-top: 100px;
      display: flex;
      align-items: center;
      &__name {
        font-family: 'VolvoBroadPro', 'sans-serif';
        font-size: 47px;
        color: #222222;
        margin-right: 40px;
      }
    }
    .spec_offer-row {
      margin-top: 40px;
      display: flex;
    }
  }
}

@media (max-width: 1440px) {
  .spec_offer-wrap {
    .spec_offer-inner {
      .spec_offer-title {
        margin-left: 15px;
      }
      .spec_offer-row {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }
}

@media (max-width: 992px) {
  .spec_offer-wrap {
    .spec_offer-inner {
      .spec_offer-title {
        justify-content: center;
        text-align: center;
      }
      .spec_offer-row {
        margin-top: 0;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .spec_offer-wrap {
    .spec_offer-inner {
      .spec_offer-title {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 40px;
        flex-direction: column;
        &__name {
          margin-right: 0;
        }
      }
      .spec_offer-row {
      }
    }
  }
}
