/*@font-face {
  font-family: 'VolvoBroadPro';
  src: url('../fonts/VolvoBroadPro.ttf') format('truetype');

  font-weight: 500;
  font-style: normal;
}
*/
@font-face {
    font-family: 'VolvoBroadPro';
    src: url('../fonts/VolvoBroadPro.eot');
    src: local('☺'), url('../fonts/VolvoBroadPro.ttf') format('truetype'), url('../fonts/VolvoBroadPro.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-UI';
    src: url('../fonts/Inter-UI.eot');
    src: local('☺'), url('../fonts/Inter-UI.ttf') format('truetype'), url('../fonts/Inter-UI.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}
