.article-wrap {
  .article-img {
    background-image: url(../../assets/img/text-img.png);
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-top: 100px;
  }
  .article {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 100px;

    &__photo-caption {
      font-weight: normal;
      font-size: 14px;
      color: #555555;
    }
    &__title{
      padding-top: 34px;
      font-weight: 500;
      font-size: 19px;
      color: #555555;
    }
    &__text-background{
      margin-top: 16px;
      padding: 20px;
      font-weight: normal;
      line-height: 21px;
      font-size: 15px;
      color: #222222;
      background: #EDEDED;
      max-width: 1073px;
    }
    &__text{
      margin-top: 16px;
      font-weight: normal;
      line-height: 21px;
      font-size: 15px;
      color: #222222;
      max-width: 1073px;
    }
    &__contacts {
      width: 100%;
      max-width: 1073px;
      height: 120px;
      margin-top: 36px;
      display: flex;
      align-items: center;
      background: #F5F5F5;
    }
    &__contacts-left {
      margin-left: 20px;
      margin-right: 89px;
      display: flex;
      align-items: center;
    }
    &__logo {
      margin-right: 20px;
      fill: #000;
      width: 218px;
      height: 30px;
    }
    &__logo-text {
      font-weight: normal;
      font-size: 15px;
      color: #000000;
    }

    &__contacts-right {
      display: flex;
      margin-right: 36px;
    }
    &__contacts-item {
      &:not(:last-child) {
        margin-right: 47px;
      }
      &-name {
        font-family: 'Roboto Condensed','sans-serif';
        font-weight: normal;
        font-size: 17px;
        color: #888888;
      }
      &-value {
        font-family: 'Roboto Condensed','sans-serif';
        font-weight: normal;
        font-size: 21px;
        color: #000000;
      }
    }
  }
  .article-contacts {
    padding-bottom: 0px;
    margin-top: 96px;
  }
}

@media (max-width: 1440px) {
  .article-wrap {
    .article {
      padding: 0 15px;
    }
  }
}
@media (max-width: 1094px) {
  .article-wrap {
    .article {
       &__contacts {
        justify-content: space-between;
      }
      &__contacts-left {
        margin-right: 10px;
      }
      &__contacts-item {
        &:not(:last-child) {
          margin-right: 20px;
        }
        &-name {
          font-size: 16px;
        }
        &-value {
          font-size: 18px;
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .article-wrap {
    .article {
      &__logo {
        width: 158px;
      }
      &__logo-text {
        font-size: 12px;
      }
      &__contacts-item {
        &-name {
          font-size: 14px;
        }
        &-value {
          font-size: 16px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .article-wrap {
    article-img {
      margin-top: 32px;
      height: 200px;
    }
    .article {
      margin-top: 8px;
      padding: 0 16px;
      &__title {
        padding-top: 32px;
        font-size: 17px;
        color: #555555;
      }
      &__text-background {
        margin-top: 16px;
      }
      &__text {
        margin-top: 32px;
      }
      .article-contacts {
        .article__text {
        margin-top: 40px;
        }
      }
      &__contacts {
        flex-direction: column;
        height: 100%;
        padding-left: 16px;
        justify-content: flex-start;
        align-items: baseline;
      }
      &__contacts-left {
        margin-top: 16px;
        margin-left: 0px;
        flex-direction: column;
        align-items: flex-start;
      }
      &__contacts-right {
        flex-direction: column;
        margin-top: 24px;
        padding-bottom: 32px;
      }
      &__logo {
        margin-right: 0px;
        width: 215px;
      }
      &__logo-text {
        margin-top: 8px;
        font-family: 'Roboto Condensed','sans-serif';
        font-size: 17px;
      }
      &__contacts-item {
        &:not(:last-child) {
          margin-right: 0;
        }
        &:not(:first-child) {
          margin-top: 16px;
        }
        &-name {
          font-size: 17px;
        }
        &-value {
          font-size: 21px;
        }
      }
    }
  }
}

