.auto-presence {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  background: #fff;
  &__inner {
    width: 100%;
    height: 59px;
    margin: 0 auto;
    min-height: 59px;
    display: flex;
    align-items: center;
  }
  &__title {
    width: 100%;
    height: 100%;
    padding-right: 5px;
    padding-left: 5px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    font-size: 15px;
    text-align: center;
    color: #000000;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  &__model {
    width: 100%;
    background: #FFFFFF;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.3s;
    position: relative;

    &:before {
      display: block;
      position: absolute;
      z-index: -1;
      top: 100%;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      background: #000000;
      transition: 0.2s;
    }

    &:hover {
      .auto-presence__model-name {
        color: #FFFFFF;
      }
      .auto-presence__model-type {
        color: #FFFFFF;
      }
      &:before {
        top: 0;
        z-index: 1;
      }
    }
  }
  &__model-name {
    z-index: 2;
    position: relative;
    font-family: 'VolvoBroadPro', 'sans-serif';
    line-height: normal;
    font-size: 29px;
    text-align: center;
    color: #000000;
    transition: 0.3s;
  }
  &__model-type {
    top: 0;
    right: -24px;
    position: absolute;
    font-weight: 500;
    font-size: 15px;
    color: #555555;
  }
}

.auto-presence.auto-presence_border-bottom {
  border-bottom: 1px solid #E5E5E5;
}

.auto-presence.auto-presence_style-index {
  background: #003057;
  border-top: 1px solid #386080;
  border-bottom: none;
  .auto-presence__title {
    color: #FFFFFF;
    border-right: 1px solid #386080;
  }
  .auto-presence__model {
    background: #003057;
    &:hover {
      .auto-presence__model-name {
        color: #003057;
      }
      .auto-presence__model-type {
        color: #003057;
      }
    }
    &:before {
      background: #FFFFFF;
    }
    &:not(:last-child) {
      border-right: 1px solid #386080;
      height: 100%;
    }
    .auto-presence__model-name {
      color: #ffffff;
    }
    .auto-presence__model-type {
      color: #ffffff;
    }
  }
}

@media (max-width: 1034px) {
  .auto-presence__title {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .auto-presence {
    display: none;
  }
}
