.auto-miles {
  &__title {
    margin-bottom: 37px;
    font-family: 'Roboto Condensed', 'sans-serif';
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    font-size: 41px;
    color: #555555;
  }
  &__row {
    width: 100%;
    max-width: 460px;
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 9px;
    }

  }
  &__row-text {
    line-height: 21px;
    font-size: 15px;
    color: #222222;
  }
  &__price {
    padding: 10px;
    font-family: 'Roboto Condensed', 'sans-serif';
    font-size: 39px;
    text-align: center;
    color: #222222;
    width: 260px;
    height: 50px;
    background: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__footer {
    margin-top: 27px;
    margin-bottom: 39px;
    width: 100%;
    max-width: 460px;
    display: flex;
    justify-content: space-between;

    .btn-white {
      max-width: 180px;
    }
  }

  &__description {
    max-width: 827px;
    width: 100%;
    line-height: 21px;
    font-size: 15px;
    color: #222222;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

@media (max-width: 1170px) {
  .auto-miles {
    &__price {
      margin-bottom: 10px;
      max-width: 100%;
      width: 100%;
    }
    &__footer {
      flex-direction: column;
      justify-content: center;
      .btn-white {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 1032px) {
  .auto-miles {
    &__price {
      font-size: 30px;
    }
  }
}

@media (max-width: 992px) {
  .auto-select {
    flex-direction: column;
    justify-content: center;
    .js-slider-auto-selekt {
      .gallery-thumbs {
        display: none;
      }
    }
  }
  .auto-miles {
    width: 100%;
    margin: 15px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__row {
      max-width: 583px;
    }
    &__price {
      font-size: 22px;
    }
  }
}

@media (max-width: 480px) {
  .auto-select {
    .js-slider-auto-selekt {
      .gallery-thumbs {
        height: 40px;
        display: block;
      }
    }
  }

  .auto-miles {
    padding: 17px 16px 0 16px;
    &__title {
      text-align: left;
      width: 100%;
      font-size: 29px;
      margin-bottom: 13px;
    }
    &__row {
      max-width: 768px;
    }
    &__row-text {
      max-width: 215px;
      font-size: 14px;
    }
    &__price {
      margin-bottom: 0;
      font-size: 39px;
      width: 100%;
    }
    &__footer {
      flex-direction: column;
      margin-top: 11px;
      margin-bottom: 22px;

      .btn-white {
        max-width: 460px;
        margin-top: 16px;
      }
    }
    &__description {
      font-size: 14px;
      line-height: 20px;
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }
}