.container {
  max-width: 1440px;
  width: 100%;
  border: 1px solid #e5e5e5;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .accordion-container {
    display: block;
    flex: 1 1 auto;
    .accordion {
      border-radius: 3px;
      background-color: #fff;
      &:not(:last-child) {
        border-bottom: 1px solid #e5e5e5;
      }
      .accordion-header {
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 54px;
        border-radius: 3px;
        cursor: pointer;
        font-weight: 500;
        line-height: 27px;
        font-size: 19px;
        color: #555555;
        .arrow {
          border: solid #0051CA;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 3px;
          transform: rotate(45deg);
          transition: all 0.3s ease;
          &.active {
            transform: rotate(-135deg);
          }
        }
      }
      .accordion-body {
        display: none;
        margin: 0;
        color: black;
        &__row {
          display: flex;
          align-items: center;
          height: 56px;
          background: #FBFBFB;
          border-top: 1px solid #E5E5E5;
          box-sizing: border-box;
          line-height: 21px;
          font-size: 15px;
          color: #555555;
          &:nth-child(even) {
            background: #F2F2F2;
          }
        }
        &__row-text {
          width: 100%;
          max-width: 612px;
          padding-left: 30px;
        }
        &.active {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    border: none;
    .accordion-container {
      .accordion {
        background: #E5E5E5;
        border: 1px solid #e5e5e5;
        &:not(:first-child) {
          margin-top: 16px;
        }
        .accordion-header {
          height: 40px;
        }
        .accordion-body {
          &__row {
            justify-content: space-between;
          }
          &__row-statistics {
            padding-right: 30px;
          }
          &__row-text {
            width: auto;
            max-width: 100%;
          }
        }
      }
    }
  }
}
