.auto-block {
  max-width: 460px;
  flex-direction: column;

  &__img {
    margin-bottom: 6px;
    width: 100%;
    height: auto;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__content-info {
    display: flex;
    align-items: center;
  }
  &__model {
    margin-right: 10px;
    font-family: 'VolvoBroadPro', 'sans-serif';
    font-size: 47px;
    color: #222222;
  }
  &__type {
    font-family: 'Roboto Condensed', 'sans-serif';
    font-weight: 300;
    line-height: 14px;
    font-size: 15px;
    text-transform: uppercase;
    color: #555555;
  }

  &__description {
    margin-bottom: 18px;
    max-width: 445px;
    padding-top: 12px;
    font-weight: 400;
    line-height: 21px;
    font-size: 15px;
    color: #555;
  }

  &__footer {
    padding-right: 8px;
    /*padding-left: 8px;*/
    display: flex;
    justify-content: space-between;
  }

  &__price {
    margin-right: 15px;
    width: 180px;
    height: 50px;
    background: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__mobile-price {
    font-size: 23px;
    letter-spacing: - 0.4px;
    display: none;
  }
  &__mobile-price_size-small {
    margin-top: 4px;
    margin-right: 5px;
    font-size: 18px;
  }

  &__price-sum {
    max-width: 180px;
    font-family: 'Roboto Condensed', 'sans-serif';
    font-size: 20px;
    color: #222;
    background: #e5e5e5;
  }
  &__price-sum_text-bold {
    font-size: 25px;
    font-weight: bold;
  }
  .btn-white {
    max-width: 200px;
  }
}

@media (max-width: 1300px) {
  .auto-block {
    &__description {
      font-size: 12px;
    }
    &__price-sum {
      font-size: 14px;
    }
    &__price-sum_text-bold {
      font-size: 16px;
    }
  }
}

@media (max-width: 1170px) {
  .auto-block {
    &__description {
      min-height: 100px;
    }
    .btn-white {
      width: 80%;
    }
  }
}

@media (max-width: 992px) {
  .auto-block {
    &__model {
      font-size: 32px;
    }
    &__type {
      font-size: 12px;
    }
    &__description {
      display: none;
    }
    &__content {
      justify-content: space-between;
    }
    &__mobile-price {
      font-family: 'Roboto Condensed','sans-serif';
      display: flex;
      align-items: center;
      font-size: 16px;
      letter-spacing: - 0.4px;
    }
    &__mobile-price_size-small {
      margin-top: 0;
      margin-right: 5px;
      font-size: 16px;
    }
    &__price {
      display: none;
    }
    .btn-white {
      margin: 15px auto 10px;
      max-width: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .auto-block {
    margin: 0 auto;
    &__img {
      margin-bottom: 1px;
    }
    &__mobile-price {
      font-size: 23px;
    }
    &__mobile-price_size-small {
      font-size: 20px;
    }
    &__model {
      font-size: 40px;
    }
    &__footer {
      padding-right: 0;
      padding-left: 0;
    }
    .btn-white {
      margin: 19px auto 39px;
      height: 40px;
    }
  }
}
