.slideshow {
  height: 460px;
  max-width: 583px;
  width: 100%;
  position: relative;
  background-color: #fff;
  margin-right: 30px;

  &__gallery {
    height: calc(80% - 20px);
    width: 100%;

    &-wrap {
      will-change: transform;
      transition-timing-function: cubic-bezier(0, 0, 0.3, 0.98);
      transform: translate3d(0, 0, 0);
    }

    &-slide {
      margin-right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      font-size: 32px;
      color: #fff;
      transform: translate3d(0, 0, 0);
    }
  }

  .swiper-container {
    margin-top: 4px;
  }

  &__thumbs {
    height: 20%;
    width: 100%;

    &-wrap {
      will-change: transform;
      transition-timing-function: cubic-bezier(0, 0, 0.3, 0.98);
      transform: translate3d(0, 0, 0);
    }

    &-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: #fff;
    }
  }
}

@media (max-width: 992px) {
  .slideshow {
    max-width: 400px;

    &__thumbs {
      height: 60px;
    }
  }
}

@media (max-width: 768px) {
  .slideshow {
    max-width: 768px;

    &__thumbs {
      height: 100%;
      max-height: 80px;
    }
  }
}
