.avto_list {
  .avto_list-inner {
    width: 100%;
    max-width: 1440px;
    margin: 94px auto 0;
    display: flex;
    flex-direction: column;
    .avto_list_title {
      margin-bottom: 32px;
      width: 100%;
      font-family: 'VolvoBroadPro', 'sans-serif';
      font-size: 47px;
      color: #222222;
    }
    .avto_list-row {
      height: 100%;
      display: flex;
      justify-content: space-between;
      &:not(:last-child) {
        margin-bottom: 115px;
      }
      .auto-block {
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }
}
@media (max-width: 1440px) {
  .avto_list {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 1170px) {
  .avto_list {
    .avto_list-inner {
      .avto_list_title {
        margin-bottom: 20px;
      }
      .avto_list-row {
        &:not(:last-child) {
          margin-bottom: 50px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .avto_list {
    padding-left: 16px;
    padding-right: 16px;
    .avto_list-inner {
      margin: 26px auto 0;
      display: flex;
      flex-direction: column;
      .avto_list_title {
        margin-bottom: 32px;
        width: 100%;
        font-size: 39px;
        text-align: center;
      }
      .avto_list-row {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        &:not(:last-child) {
          margin-bottom: 4px;
        }
        .auto-block {
          &:not(:last-child) {
            margin: 0 auto;
          }
        }
      }
    }
  }
}
