.info-block {
  position: relative;
  width: 100%;
  height: 346px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  &:nth-child(1) {
    background: url(../../assets/img/block1.png);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
  }
  &:nth-child(2) {
    background: url(../../assets/img/block2.png);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
  }
  &:nth-child(3) {
    background: url(../../assets/img/block3.png);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__img {
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  &__title {
    font-family: 'VolvoBroadPro', 'sans-serif';
    font-size: 47px;
    text-align: center;
    color: #F2F2F2;
    display: flex;
  }
  &__center {
    padding-bottom: 60px;
  }
  .btn-white {
    max-width: 240px;
    margin: 36px auto 0;
  }

  &:hover {
    .btn-white_theme-white {
      background: #003057;
      border: 1px solid #003057;
      color: white;
      .btn-white__text {
        color: white;
      }
      @media (max-width: 992px) {
        background: transparent;
        border: 1px solid white;
        color: #FFFFFF;
        .btn-white__text {
          color: #FFFFFF;
        }
      }
    }
  }
  &:active {
    .btn-white_theme-white {
      background: transparent;
      border: 1px solid white;
      color: #FFFFFF;
      .btn-white__text {
        color: #FFFFFF;
      }
      @media (max-width: 992px) {
        background: #003057;
        border: 1px solid #003057;
        color: white;
        .btn-white__text {
          color: white;
        }
      }
    }
  }
}

@media (max-width: 1230px) {
  .info-block {
    &__title {
      max-width: 300px;
    }
  }
}

@media (max-width: 992px) {
  .info-block {
    &__title {
      max-width: 230px;
      font-size: 32px;
    }
  }
}

@media (max-width: 768px) {
  .info-block {
    margin-bottom: 8px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__title {
      max-width: 100%;
      line-height: 44px;
      font-size: 31px;
    }
    &__center {
      padding-bottom: 0;
    }
    .btn-white {
      display: none;
    }
    &__flex {
      margin-top: 8px;
      flex-direction: column;
    }
  }
}
