.btn_call {
  width: 140px;
  height: 30px;
  color: #003057;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #003057;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s linear;
  &_text {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 13px;
  }

  &:hover {
    background: #003057;
    color: #FFFFFF;
  }
  &:active {
    background: #FFFFFF;
    color: #003057;
  }
}