.btn-white {
  font-weight: normal;
  text-decoration: none;
  width: 100%;
  max-width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #003057;
  color: #003057;
  cursor: pointer;
  transition: 0.3s linear;
  background: transparent;

  &__text {
    font-weight: 500;
    font-size: 15px;
    user-select: none;
    text-align: center;
    color: #003057;
  }

  &:hover {
    background: #003057;
    color: white;

    .btn-white__text {
      color: white;
    }

  }

  &:active {
    background: transparent;
    color: #003057;
    border: 1px solid #003057;
    .btn-white__text {
      color: #003057;
    }
  }
}

.btn-white {
  &.current {
    background: #003057;
    color: white;
    .btn-white__text {
      color: white;
    }
    &:hover {
      background: #003057;
      color: white;
      .btn-white__text {
        color: white;
      }
    }
  }
}

.btn-white_theme-white {
  border: 1px solid white;
  color: white;
  z-index: 10;
  .btn-white__text {
    color: white;
  }

  &:hover {
    background: #003057;
    border: 1px solid #003057;
    color: white;
    .btn-white__text {
      color: white;
    }
    @media (max-width: 992px) {
      background: transparent;
      border: 1px solid white;
      color: #FFFFFF;
      .btn-white__text {
        color: #FFFFFF;
      }
    }
  }

  &:active {
    background: transparent;
    border: 1px solid white;
    color: #FFFFFF;
    .btn-white__text {
      color: #FFFFFF;
    }
    @media (max-width: 992px) {
      background: #003057;
      border: 1px solid #003057;
      color: white;
      .btn-white__text {
        color: white;
      }
    }
  }
}

.btn-white_theme-spec {
  width: 100%;
  max-width: 200px;
  height: 50px;
  border: 1px solid #003057;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s linear;

  &:hover {
    background: #003057;
    border: 1px solid #003057;
    color: white;
    .btn-white__text {
      color: white;
    }

    @media (max-width: 992px) {
      background: transparent;
      border: 1px solid white;
      color: #FFFFFF;
      .btn-white__text {
        color: #FFFFFF;
      }
    }
  }

  &:active {
    background: transparent;
    border: 1px solid #003057;
    color: #003057;
    .btn-white__text {
      color: #003057;
    }
    @media (max-width: 992px) {
      background: #003057;
      border: 1px solid #003057;
      color: white;
      .btn-white__text {
        color: white;
      }
    }
  }
  @media (max-width: 992px) {
    margin-top: 24px;
  }
}

.btn-white_theme-model {
  width: 100%;
  max-width: 200px;
  &:not(:last-child) {
    margin-right: 4px;
  }

  @media (max-width: 768px) {
    max-width: 48%;
    &:not(:last-child) {
      margin-right: 0px;
    }
    &:nth-child(odd) {
      margin-right: 8px;
    }
    &:nth-child(3) {
      margin-top: 8px;
    }
    &:nth-child(4) {
      margin-top: 8px;
    }
  }
}

.btn-white_theme-model-sub {
  width: 100%;
  height: 40px;
  max-width: 178.67px;
  margin-top: 20px;

  @media (max-width: 768px) {
    margin-top: 8px;
    max-width: 48%;
    &:nth-child(odd) {
      margin-right: 8px;
    }
  }
}

.btn-white_theme-create {
  max-width: 232px;

  @media (max-width: 1440px) {
    margin-left: 15px;
  }
  @media (max-width: 768px) {
    margin-left: 16px;
    margin-right: 16px;
  }
  @media (max-width: 414px) {
  }
}

.btn-white_theme-form {
  max-width: 180px;
  border: 1px solid #F5F5F5;
  color: #F5F5F5;
  margin-right: 10px;

  .btn-white__text {
    color: #F5F5F5;
  }

  &:hover {
    border: 1px solid #003057;
  }

  @media (max-width: 768px) {
    max-width: 370px;
    margin-right: 0;
  }
}

.btn-white_finance{
  margin-top: 35px;

  @media (max-width: 768px) {
    max-width: 460px;
    margin-top: 32px;
  }
}

.btn-white_service-header{
  margin-top: 18px;
  max-width: 245px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  .btn-white__text {
    color: #FFFFFF;
  }
  &:hover {
    border: 1px solid #003057;
  }
  @media (max-width: 768px) {
    max-width: 288px;
    margin-top: 32px;

    &:hover {
      border: 1px solid #003057;
      background: #003057;
      color: white;

      .btn-white__text {
        color: white;
      }
    }
  }
}

.btn-white_service{
  margin-top: 28px;
  max-width: 158.62px;

  @media (max-width: 1250px) {
    margin-top: 0;
  }
  @media (max-width: 768px) {
    max-width: 460px;
    margin-top: 32px;
  }
}

.btn-white_news {
  max-width: 186.75px;

  @media (max-width: 768px) {
    max-width: 460px;
  }
}
