.btn_blue {
  width: 100%;
  max-width: 245px;
  height: 50px;
  background: #0051CA;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s linear;
  border: none;

  &__text {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 15px;
    text-align: center;
  }
  &:hover {
    background: #003057;
    color: #FFFFFF;
  }
  &:active {
    background: #0051CA;
    color: #FFFFFF;
  }
}

.btn_blue-spec {
  margin-top: 12px;
  max-width: 338px;
  background: #003057;
  &:hover {
    background: #0051CA;
    color: #FFFFFF;
  }
  &:active {
    background: #003057;
    color: #FFFFFF;
  }

  @media (max-width: 1090px) {
    .btn_blue__text {
      font-size: 12px;
    }
  }
  @media (max-width: 992px) {
    max-width: 354px;
    .btn_blue__text {
      font-size: 15px;
    }
  }
  @media (max-width: 768px) {
    max-width: 400px;
  }
}

.btn_blue-next {
  margin-top: 30px;
  max-width: 460px;
  height: 80px;
  background: #003057;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &__img {
    width: 32px;
    margin-right: 13px;
  }

  .btn_blue__text {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 25px;
    color: #FFFFFF;
  }
  &:hover {
    background: #0051CA;
    color: #FFFFFF;
  }
  &:active {
    background: #003057;
    color: #FFFFFF;
  }
}

@media (max-width: 1299px) {
  .btn_blue-next {
    &__img {
      width: 28px;
    }
    .btn_blue__text {
      font-size: 20px;
    }
  }
}

@media (max-width: 1090px) {
  .btn_blue-next {
    &__img {
      width: 24px;
    }
    .btn_blue__text {
      font-size: 15px;
    }
  }
}

@media (max-width: 768px) {
  .btn_blue-next {
    max-width: 304px;
    height: 50px;
    margin-top: 16px;
    justify-content: flex-start;
    &:not(:first-child) {
      margin-top: 8px;
    }
    &:not(:last-child) {
      margin-right: 0px;
    }

    &__img {
      width: 30px;
      margin: 0 16px 0 16px;
    }
    .btn_blue__text {
    }
  }
}

.btn_blue-form {
  max-width: 180px;

  @media (max-width: 768px) {
    display: none;
  }
}

.btn_blue-service {
  max-width: 232px;

  @media (max-width: 768px) {
    max-width: 368px;
    background: none;
    border: 1px solid #F5F5F5;
    color: #F5F5F5;

    .btn-white__text {
      color: #F5F5F5;
    }
    &:hover {
      border: 1px solid #003057;
      background: #003057;
    }
  }
}

.btn_blue-page_form {
  max-width: 368px;
}
