//call-block вложен в него
.popup-overlay {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 auto;
  background: rgba(22, 22, 24, 0.6);
  opacity: 0;
  transition: 0.2s linear;
  z-index: -1;

  &.js-active {
    right: 0;
    opacity: 1;
    z-index: 600;
    width: 100%;
    overflow: auto;
  }
}

.call-block {
  right: -100%;
  transition: 0.2s linear;
  width: 90%;
  height: 100%;
  margin: 0 0 auto auto;
  padding-left: 16px;
  padding-right: 13px;
  padding-bottom: 41px;

  position: relative;
  z-index: 150;
  background: white;

  &.js-open {
    top: 0;
    overflow-y: scroll;
    position: fixed;
    right: 0;
  }

  &__close {
    margin-top: 49px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__close-img {
    width: 13px;
    height: 13px;
    margin-right: 9px;
  }
  &__close-text {
    font-weight: 500;
    font-size: 15px;
    color: #222222;
  }
  &__logo {
    padding-top: 7px;
    padding-left: 8px;
    display: flex;
    align-items: center;
  }

  &__logo-volvo {
    margin-right: 24px;
    width: 60px;
    height: 60px;
  }

  &__logo-motorland {
    fill: #555555;
    width: 116px;
    height: 16px;
  }

  &__policy {
    max-width: 320px;
    width: 100%;
    padding-left: 8px;
    font-size: 10px;
    letter-spacing: -0.01em;
    color: #555555;
  }
  &__policy-link {
    text-decoration: none;
    border-bottom: 1px solid;
    transition: 0.3s linear;
    color: #555555;

    &:hover {
      border-bottom: 1px solid transparent;
    }
  }

  .form {
    width: 100%;
    margin-top: 32px;
    margin-left: 8px;
  }
  .btn_blue {
    margin-top: 22px;
    margin-left: 8px;
    margin-bottom: 16px;
  }

  &__policy-form {
    max-width: 368px;
    padding-left: 0px;
    color: #FFFFFF;
    font-family: 'Roboto Condensed','sans-serif';
    font-weight: normal;
    font-size: 14px;
    opacity: 0.8;

    .call-block__policy-link {
      color: #FFFFFF;
    }
  }
}

@media (max-width: 992px) {
  .call-block {
    width: 50%;
    .form__input {
      max-width: 350px;
    }
    .btn_blue {
      max-width: 350px;
    }
    &__policy {
      max-width: 340px;
    }
  }
}

@media (max-width: 768px) {
  .call-block {
    &__policy-form {
      font-size: 11px;
      opacity: 1;
      color: #555555;

      .call-block__policy-link {
        color: #555555;
      }
    }
  }
}

@media (max-width: 480px) {
  .call-block {
    width: 90%;
  }
}