.car-select {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  &__info {
    max-width: 830px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin-bottom: 29px;
    font-family: 'VolvoBroadPro', 'sans-serif';
    line-height: normal;
    font-size: 63px;
    color: #222222;
  }
  &__text {
    line-height: 21px;
    font-size: 15px;
    color: #222222;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  &__video-container {
    margin-top: 93px;
    display: flex;
    position: relative;
    background: #000000;
    max-width: 583px;
    width: 100%;
    height: 310px;
  }
  &__video {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 992px) {
  .car-select {
    &__video-container {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .car-select {
    margin-top: 34px;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    &__title {
      max-width: 240px;
      font-size: 41px;
      margin-bottom: 0;
      text-align: center;
    }
    &__text {
      display: none;
    }
  }
}