.column-wrap {
  background: #fff;

  .column-inner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;

    .column-row {
      display: flex;

      .column-item {
        width: 100%;
        max-width: 720px;
        margin: 0;
        height: 500px;

        &__title {
          font-family: 'Roboto Condensed','sans-serif';
          font-style: normal;
          font-weight: 300;
          font-size: 41px;
          color: #555555;
          padding-top: 50px;
        }
        &__text {
          font-style: normal;
          font-weight: normal;
          line-height: 21px;
          font-size: 15px;
          color: #222222;
          padding: 10px 40px 0 0;
        }
      }
      .column-item__collage {
        display: flex;
        .collage-item {
          .column-item__img_block {
            display: flex;
          }
        }
      }
      .column-item__right {
        .column-item__title {
          padding-left: 40px;
        }
        .column-item__text {
          padding-left: 40px;
          padding-right: 0;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .column-wrap {
    .column-inner {
      .column-row {
        .column-item {
          height: 100%;

          &__title {
            padding-left: 40px;
          }
          &__text {
            padding-left: 40px;
          }
          .column-item__collage {

            .column-item__img_block {
            }
          }
        }
        .column-item__right {
          .column-item__text {
            padding-right: 40px;
          }
        }
      }
    }
  }
}

@media (max-width: 1090px) {
  .column-wrap {
    .column-inner {
      .column-row {
        .column-item {

          &__title {
            padding-top: 20px;
            padding-left: 16px;
          }
          &__text {
            padding-left: 16px;
            padding-right: 16px
          }

        }
        .column-item__right {
          .column-item__text {
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .column-wrap {
    .column-inner {
      .column-row {
        .column-item {

          &__title {
            font-size: 29px;
          }
          &__text {
            line-height: 20px;
            font-size: 14px;
          }

        }
        .column-item__right {
          .column-item__title {
            padding-left: 16px;
          }
          .column-item__text {
            padding-left: 16px;
            padding-right: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .column-wrap {
    .column-inner {
      padding-top: 40px;
      .column-row {
        flex-direction: column;
        .column-item {
          max-width: 768px;
          height: auto;
          &__title {
            padding-top: 32px;
            padding-right: 16px;
          }
          &__text {
            padding-top: 16px;
            margin-bottom: 40px;
          }

        }
        .column-item__right {
          .column-item__title {
          }
          .column-item__text {
          }
        }
        .column-item__collage {
          order: -1;
          .collage-item {
            width: 50%;
          }
          .column-item__img_block {
            max-height: 384px;
            max-width: 384px;
          }
        }
        .column-item__last-img {
          order: -1
        }
      }
    }
  }
}
