.create-wrap {
  background: #fff;

  .create-inner {
    width: 100%;
    height: 500px;
    display: flex;

    /*.create__img{
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
    }*/
    .create-info {
      width: 100%;
      z-index: 5;
      max-width: 1440px;
      margin: 0 auto;
      padding-top: 160px;

      .create__title {
        font-family: 'VolvoBroadPro', 'sans-serif';
        font-size: 47px;
        color: #FFFFFF;
      }
      .create__btn {
        margin-top: 40px;
      }
    }

    .create-info__right {
      display: flex;
      justify-content: flex-end;

      .create-info__bottom {
        max-width: 460px;
        padding-top: 59px;

        &-title {
          font-family: 'Roboto Condensed','sans-serif';
          font-style: normal;
          font-weight: 300;
          font-size: 41px;
          color: #F5F5F5;
        }

        &-text {
          padding-top: 20px;
          font-style: normal;
          font-weight: normal;
          line-height: 21px;
          font-size: 15px;
          color: #FFFFFF;
        }
      }
    }
  }
  .create-inner__first_child {
    background-image: url(../../assets/img/XC90_info.png);
    background-size: cover;
  }
  .create-inner__second_child {
    background-image: url(../../assets/img/XC90_info2.png);
    background-size: cover;
  }
  .create-inner__third_child {
    background-image: url(../../assets/img/XC90_info3.png);
    background-size: cover;
  }
}

@media (max-width: 1440px) {
  .create-wrap {
    .create-inner {
      height: 450px;
      .create__title {
        margin-left: 15px;
        margin-right: 15px;
      }
      .create-info__right {

        .create-info__bottom {
          padding-top: 0px;
          margin-right: 15px;
          &-title {
          }

          &-text {
          }
        }
      }
    }
  }
}

@media (max-width: 1439px) {
  .create-wrap {
    .create-inner {

      .create-info {
        padding-top: 100px;
      }
    }
  }
}

@media (max-width: 1439px) {
  .create-wrap {
    .create-inner {
    }
  }
}

@media (max-width: 992px) {
  .create-wrap {
    .create-inner {
      .create__title {
      }
      .create-info__right {
        margin-top: -50px;
        .create-info__bottom {
          &-title {
          }

          &-text {
          }
        }
      }
    }
    .create-inner__first_child {
      background-position: 50% 0;
    }
    .create-inner__second_child {
      background-position: 50% 0;
    }
    .create-inner__third_child {
      background-position: 50% 0;
    }
  }
}

@media (max-width: 768px) {
  .create-wrap {
    .create-inner {
      height: 320px;
      .create__img {
      }
      .create-info {
        padding-top: 64px;
        display: flex;
        flex-direction: column;
        .create__title {
          margin-left: 16px;
          margin-right: 16px;
          font-size: 39px;
        }
        .create__btn {
          margin-top: 126px;
        }
      }
      .create-info__right {
        display: none;
        .create-info__bottom {
          &-title {
          }

          &-text {
          }
        }
      }
    }
  }
}

@media (max-width: 506px) {
  .create-wrap {
    .create-inner__second_child {
      .create-info {
        .create__btn {
          margin-top: 83px;
        }
      }
    }
  }
}

@media (max-width: 414px) {
  .create-wrap {
    .create-inner {
      .create__img {
      }
      .create-info {
        .create__title {
        }
        .create__btn {
        }
      }
    }
    .create-inner__second_child {
      background-position: 80% 0;
    }
    .create-inner__third_child {
      background-position: 40% 0;
    }
  }
}
