.features-wrap {
  background: #F5F5F5;

  .features-inner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 190px;
    display: flex;

    .features__info {
      display: none;
      font-weight: normal;
      font-size: 14px;
      color: #222222;
    }
    .features {
      display: flex;
      flex-direction: column;
      padding: 40px 14px 0 15px;

      &__no_left {
        padding: 40px 14px 0 0;
      }
      &__no_right {
        padding: 40px 0 0 15px;
      }
      &:not(:last-child) {
        border-right: 1px solid #E5E5E5;
      }

      &__name {
        width: 215px;
        height: 40px;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        text-align: center;
        color: #222222;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__value {
        padding-top: 10px;
        font-family: 'Roboto Condensed', 'sans-serif';
        font-style: normal;
        font-weight: 300;
        font-size: 55px;
        text-align: center;
        color: #555555;
      }
    }
  }
}

@media (max-width: 1439px) {
  .features-wrap {
    .features-inner {
      .features {
        width: 16.6%;
        &__name {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 846px) {
  .features-wrap {
    .features-inner {
      .features {
        &__name {
          height: 100%;
        }
        &__value {
          font-size: 45px;
          padding-top: 0px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .features-wrap {
    .features-inner {
      flex-direction: column;
      padding: 16px 16px 32px 16px;
      height: 100%;

      .features__info {
        display: block;
        padding-bottom: 16px;
      }

      .features {
        flex-direction: row;
        align-items: center;
        padding: 8px 0 0 0;
        justify-content: space-between;
        width: 100%;

        &__no_left {
          padding: 8px 0 0 0;
        }
        &__no_right {
          padding: 8px 0 0 0;
        }
        &:not(:last-child) {
          border-right: none;
        }
        &__name {
          font-size: 14px;
          color: #000000;
          margin-right: 44px;
          text-align: left;
          width: 100%;
          justify-content: flex-start;
        }
        &__value {
          font-size: 29px;
          text-align: right;
          color: #555555;
        }
      }
    }
  }
}
