.finance-item {
  width: 100%;
  max-width: 460px;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &__name{
    margin-top: 26px;
    font-family: 'Roboto Condensed', 'sans-serif';
    font-weight: 300;
    font-size: 41px;
    color: #555555;
  }
  &__info{
    margin-top: 10px;
    font-weight: normal;
    line-height: 21px;
    font-size: 15px;
    color: #222222;
  }
}

@media (max-width: 1439px) {
  .finance-item {
    &__name {
      font-size: 30px;
    }
  }
}

@media (max-width: 1252px) {
  .finance-item {
    &__info {
      height: 105px;
    }
  }
}

@media (max-width: 1031px) {
  .finance-item {
    &__info {
      height: 126px;
    }
  }
}

@media (max-width: 940px) {
  .finance-item {
    &__name {
      font-size: 25px;
    }
    &__info {
      height: 147px;
    }
  }
}

@media (max-width: 768px) {
  .finance-item {

    &:not(:first-child) {
      margin-top: 40px;
    }
    &:not(:last-child) {
      margin-right: 0px;
    }
    &__name {
      margin-top: 24px;
      font-size: 29px;
      padding-left: 16px;
      padding-right: 16px;
    }
    &__info {
      height: auto;
      margin-top: 16px;
      line-height: 20px;
      font-size: 14px;
      padding-left: 16px;
      padding-right: 16px;
    }
    &__btn {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}