.finance-wrap {
  background: #fff;

  .finance-inner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 92px;

    .finance__title{
      font-family: 'VolvoBroadPro', 'sans-serif';
      font-size: 63px;
      color: #222222;
    }
    .finance__sub-title{
      padding-top: 20px;
      font-family: 'Roboto Condensed','sans-serif';
      font-weight: 300;
      font-size: 41px;
      color: #161618;
    }
    .finance__descr{
      max-width: 1003px;
      padding-top: 10px;
      font-weight: normal;
      line-height: 21px;
      font-size: 15px;
      color: #222222;
    }
    .finance__row{
      display: flex;
      margin-top: 40px;
    }
  }
}
@media (max-width: 1440px) {
  .finance-wrap {
    .finance-inner {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
@media (max-width: 768px) {
  .finance-wrap {
    .finance-inner {
      padding: 40px 0 0 0;

      .finance__title{
        padding-left: 16px;
        padding-right: 16px;
        font-size: 41px;
        text-align: center;
      }
      .finance__sub-title{
        padding-left: 16px;
        padding-right: 16px;
        font-size: 29px;
      }
      .finance__descr{
        padding-left: 16px;
        padding-right: 16px;
        line-height: 20px;
        font-size: 14px;
      }
      .finance__row{
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
