.form {
  &__row {
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
  }
  &__label {
    font-weight: 500;
    font-size: 15px;
    color: #222;
    margin-bottom: 3px;
  }
  &__input {
    padding-right: 8px;
    padding-left: 8px;
    letter-spacing: -0.2px;
    background: #F5F5F5;
    border: 1px solid #222222;
    max-width: 248px;
    width: 100%;
    height: 46px;
    font-weight: 500;
    font-size: 17px;
    color: #222222;
    font-family: 'Inter-UI';
  }

  //строка для кнопок
  &__row-button {
    display: flex;
    flex-direction: row;
  }
}

//изменила длину инпута и немного стили
.form_white {
  margin-top: 26px;
  width: 100%;
  max-width: 370px;
  z-index: 10;

  .form__row {
    margin-bottom: 18px;
  }
  .form__row-button {
    margin-top: 40px;
  }
  .form__label {
    color: #FFFFFF;
  }
  .form__input {
    max-width: 370px;
  }

  @media (max-width: 768px) {
    max-width: 370px;
    margin-top: 24px;
    .form__row {
      margin-bottom: 17px;
    }
    .form__row-button {
      margin-top: 24px;
    }
  }
}

.form_service {
  margin-top: 28px;
  width: 100%;
  max-width: 368px;
  z-index: 10;

  .form__row {
    margin-bottom: 21px;
  }
  .form__row-button {
    margin-top: 40px;
  }
  .form__label {
    color: #FFFFFF;
  }
  .form__input {
    max-width: 368px;
  }

  @media (max-width: 768px) {
    max-width: 368px;
    margin-top: 24px;
    .form__row {
      margin-bottom: 17px;
    }
    .form__row-button {
      margin-top: 24px;
    }
  }
}
.form_page-form{
  margin-top: 22px;
  .form__row {
    margin-bottom: 18px;
  }
  .nice-select {
    max-width: 368px;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.form_mobile {
  display: none;

  @media (max-width: 768px) {
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 25px;

    .form__label {
      color: #555555;
    }
  }
}
