.form_block {
  width: 100%;
  max-width: 370px;
  z-index: 5;
  &__title {
    font-family: 'VolvoBroadPro', 'sans-serif';
    font-size: 47px;
    color: #FFFFFF;
  }
  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;

    &:nth-child(3) {
      margin-top: 8px;
    }

    &-name {
      font-family: 'Roboto Condensed', 'sans-serif';
      font-weight: normal;
      font-size: 25px;
      color: #F5F5F5;
      margin-right: 10px;
    }

    &-value {
      display: flex;
      flex-direction: column;
      margin-top: -8px;

      &-s {
        font-family: 'Roboto Condensed', 'sans-serif';
        font-weight: normal;
        font-size: 25px;
        text-decoration-line: line-through;
        color: #FFFFFF;
      }
      &-b {
        font-family: 'Roboto Condensed', 'sans-serif';
        font-weight: bold;
        font-size: 41px;
        color: #FFFFFF;
        text-align: left;
        width: 202px;
      }
    }
  }
  &__info {
    margin-top: 35px;
    font-family: 'Roboto Condensed', 'sans-serif';
    font-weight: normal;
    font-size: 21px;
    color: #F2F2F2;
  }
}

.form_block-header {
  .form_block__title {
    color: #F2F2F2;
    font-size: 63px;
  }
  .form_block__price {
     &:nth-child(3) {
      margin-top: 35px;
    }
    .form_block__price-name {
      color: #F2F2F2;
    }
  }
  .form_block__info {
    margin-top: 36px;
  }
}

@media (max-width: 768px) {
  .form_block {
    max-width: 370px;
    &__title {
      font-size: 39px;
    }
    &__price {
      margin-top: 24px;
      &:nth-child(2) {
        align-items: flex-end;
      }
      &-name {
        font-size: 14px;
        opacity: 0.6;
      }
      &-value {
        &-s {
          font-size: 15px;
        }
        &-b {
          font-size: 21px;
          width: 108px;
        }
      }
    }
    &__info {
      display: none
    }
  }
  .form_block-header {
    .form_block__title {
      font-size: 41px;
    }
    .form_block__price {
      margin-top: 16px;
      &:nth-child(3) {
        margin-top: 16px;
      }
      .form_block__price-name {
        opacity: 1;
      }
    }
  }
}
