.form_section-wrap {
  position: relative;

  background-image: url(../../assets/img/t5-header.png);
  background-size: cover;

  &:nth-child(9) {
    background-image: url(../../assets/img/s90_t5.png);
    background-size: cover;
  }

  .form_section-inner {
    width: 100%;
    max-width: 1440px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 160px;
  }
  .form_section-inner-header {
    padding-top: 150px;
  }
  .gradient-s90_top {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: linear-gradient(90deg, #161618 0%, rgba(51, 51, 51, 0) 50%);
  }
  .gradient-s90_bottom {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: linear-gradient(90deg, #161618 0%, rgba(51, 51, 51, 0) 50%);
  }
}

@media (max-width: 1440px) {
  .form_section-wrap {
    .form_section-inner {
      padding-left: 15px;
    }
  }
}

@media (max-width: 992px) {
  .form_section-wrap {
    &:nth-child(5) {
    }
    &:nth-child(9) {
      background-position: 50% 0;
    }
    .gradient-s90_top {
      background: linear-gradient(360deg, #161618 0%, rgba(51, 51, 51, 0) 100%);
    }
  }
}

@media (max-width: 768px) {
  .form_section-wrap {
    background-position: 80% 30%;

    &:nth-child(9) {
      background-image: none;
      background: #222222;
    }
    .form_section-inner {
      padding: 32px 16px;
      height: 446px;
    }
    .form_section-inner__center{
          align-items: center;
    }
    .form_section-inner-header {
      padding: 32px 16px;
      height: 320px;
      justify-content: flex-end;
    }
    .gradient-s90_bottom {
      background: none;
    }
  }
}

.form_section-wrap__service-header {
  background-image: url(../../assets/img/service_header.png);
  background-size: cover;

  @media (max-width: 992px) {
    background-position: 50% 0;
  }
  @media (max-width: 768px) {
    .form_section-inner {
      height: 320px;
      padding: 76px 16px 0 16px;
    }
  }
}

.form_section-wrap__service {
  margin-top: 100px;
  background-image: url(../../assets/img/service_footer.png);
  background-size: cover;

  .form_section-inner {
    padding-top: 154px;
    .form_block{
      .form_block__title{
        line-height: 52px;
      }
    }
  }

  @media (max-width: 992px) {
    background-position: 50% 0;
  }
  @media (max-width: 768px) {
    margin-top: 40px;
    background: #222222;

    .form_section-inner {
      height: 416px;
      padding-top: 32px;
      .form_block{
        .form_block__title{
          line-height: 36px;
        }
      }
    }
  }
}

.form_section-wrap__form {
  background-image: url(../../assets/img/form.png);
  background-size: cover;

  .form_section-inner{
    padding-top: 92px;
    .form_block{
      max-width: 583px;
      &__title {
        font-size: 63px;
      }
    }
  }
  @media (max-width: 992px) {
    background-position: 50% 0;
  }
  @media (max-width: 768px) {
    background-image: url(../../assets/img/form-mobile.png);
    .form_section-inner {
      height: 320px;
      justify-content: flex-end;
      .form_block {
        &__title {
          font-size: 41px;
        }
      }
    }
  }
}
