.gallery-wrap {
  background: #fff;

  .gallery-inner {
    width: 100%;
    max-width: 9200px;
    margin: 0 auto;

    .gallery {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      /*max-height: 758px;*/
      height: 758px;
      font-size: 0;
      overflow: hidden;
      align-content: flex-start;

      .fancybox {
        /*width: 24.84%;*/
        transition: 0.3s linear;
        margin-bottom: 4px;
        overflow: hidden;
        float: left;
        display: flex;
        justify-content: center;

        &:nth-child(1) {
          margin-bottom: 4px;
        }
        &:nth-child(2) {
          margin-bottom: 4px;
        }
        &:nth-child(5) {
          margin-bottom: 4px;
        }
        &:nth-child(6) {
          margin-bottom: 4px;
        }
        &:nth-child(7) {
          margin-bottom: 4px;
        }
        &:nth-child(8) {
          margin-bottom: 4px;
        }
        &:not(:last-child) {
          margin-right: 4px;
        }

        /*&:hover {
          transform: scale(1.1);
        }*/
      }
      .gallery_img:hover{
        transition: all 0.3s linear;
        transform: scale(1.1);
      }
      .gallery_img:not(:hover) {
        transition: all 0.3s linear;
      }
    }
    .small{
      height: 100%;
      max-height: 248px;
    }
    .medium{
      height: 66%;
      max-width: none;
      position: relative;
    }
    .medium .gallery_img{
      max-width: none;
      width: auto;
      top: 50%;
      height: 100%;
      /*transform: translate(-24%,0%);     */
    }
    /*.medium .gallery_img:hover{
      transform: translate(-23%,0%) scale(1.1);
    }  */
    .large{
      height: 100%;
      max-width: none;
      position: relative;
    }
    .large .gallery_img{
      max-width: none;
      width: auto;
      top: 50%;
      height: 100%;
      /*transform: translate(-32%,0%);  */
    }
    /*.large .gallery_img:hover{
      transform: translate(-32%,0%) scale(1.1);
    } */
  }
}
@media (max-width: 3000px) {
  .gallery-wrap {
    .gallery-inner {
      .gallery {
        height: 1008px;
      }
    }
  }
}
@media (max-width: 2050px) {
  .gallery-wrap {
    .gallery-inner {
      .gallery {
        height: 908px;
      }
    }
  }
}
@media (max-width: 1920px) {
  .gallery-wrap {
    .gallery-inner {
      .gallery {
        height: 758px;
      }
    }
  }
}
/*@media (max-width: 1750px) {
  .gallery-wrap {
    .gallery-inner {
      padding-top: 40px;
      .gallery {
        height: 700px;

        .fancybox {
          width: 24.82%;
        }
      }
    }
  }
}*/

@media (max-width: 1590px) {
  .gallery-wrap {
    .gallery-inner {
      .gallery {
        height: 645px;
      }
      .small {
        max-height: 211px;
      }
    }
  }
}
/*@media (max-width: 1440px) {
  .gallery-wrap {
    .gallery-inner {
      .gallery {
        height: 575px;
      }
    }
  }
}*/
@media (max-width: 1368px) {
  .gallery-wrap {
    .gallery-inner {
      .gallery {
        height: 550px;
      }
      .small {
        max-height: 179px;
      }
    }
  }
}
/*@media (max-width: 1199px) {
  .gallery-wrap {
    .gallery-inner {
      .gallery {
        height: 485px;
      }
    }
  }
}*/
/*@media (max-width: 1099px) {
  .gallery-wrap {
    .gallery-inner {
      .gallery {
        height: 435px;
      }
    }
  }
}*/
@media (max-width: 992px) {
  .gallery-wrap {
    .gallery-inner {
      .gallery {
        height: 460px;
      }
      .small {
        max-height: 148.4px;
      }
    }
  }
}

/*@media (max-width: 921px) {
  .gallery-wrap {
    .gallery-inner {
      .gallery {
        height: 375px;
      }
    }
  }
}*/

@media (max-width: 768px) {
  .gallery-wrap {
    .gallery-inner {
      padding-top: 40px;
      .gallery {
        height: 459.2px;
        .fancybox {
          width: 50%;
          &:nth-child(5) {
            margin-bottom: 0px;
          }
          &:nth-child(2) {
            margin-bottom: 0px;
          }
          .gallery_img:hover {
            transform: none;
          }
        }
      }
      .gallery-wrap .gallery-inner .medium {
        height: 65.5%;
      }
      .small {
        max-height: 149.1px;
      }
    }
  }
}

/*@media (max-width: 637px) {
  .gallery-wrap {
    .gallery-inner {
      .gallery {
        max-height: 600px;
        &__img {
        }
      }
    }
  }
}

@media (max-width: 562px) {
  .gallery-wrap {
    .gallery-inner {
      .gallery {
        max-height: 530px;
        &__img {
        }
      }
    }
  }
}

@media (max-width: 496px) {
  .gallery-wrap {
    .gallery-inner {
      .gallery {
        max-height: 400px;
        &__img {
        }
      }
    }
  }
}*/

@media (max-width: 414px) {
  .gallery-wrap {
    .gallery-inner {
      .gallery {
        height: 248px;
      }
      .small {
        max-height: 80px;
      }
    }
  }
}

/*@media (max-width: 372px) {
  .gallery-wrap {
    .gallery-inner {
      .gallery {
        max-height: 320px;
        &__img {
        }
      }
    }
  }
}*/
