.img_row-wrap {
  background: #9aa6a5;

  .img_row-inner {
    width: 100%;
    height: 100%;
    display: flex;

    .img_row__image-wrap {
      display: flex;
      height: auto;
      width: 100%;
    }

  }
}
@media (max-width: 1920px) {
  .img_row-wrap {
    .img_row-inner {
      .img_row__image-wrap {
        width: auto;
      }
      .img_row__image {
        object-fit: cover
      }
    }
  }
}

@media (max-width: 1440px) {
  .img_row-wrap {
    .img_row-inner {
      height: 300px;
    }
  }
}
@media (max-width: 1200px) {
  .img_row-wrap {
    .img_row-inner {
      height: 260px;
    }
  }
}
@media (max-width: 1060px) {
  .img_row-wrap {
    .img_row-inner {
      height: 200px;
    }
  }
}

@media (max-width: 768px) {
  .img_row-wrap {
    .img_row-inner {
      overflow-x: scroll;
      height: 160px;
      .img_row__image {
          width: 288px;
          height: 160px;
      }
    }
  }
}
