.info-wrap {
  background: #fff;

  .info-inner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 92px 0 60px 0;

    &__title {
      font-family: 'Roboto Condensed', 'sans-serif';
      font-style: normal;
      font-weight: 300;
      font-size: 41px;
      color: #555555;
    }

    &__text {
      width: 100%;
      max-width: 705px;
      margin-top: 10px;
      font-style: normal;
      font-weight: normal;
      line-height: 21px;
      font-size: 15px;
      color: #222222;

      div:nth-child(1) {
        padding-bottom: 12px;
      }
    }
    .info-inner__text-long {
      max-width: 1073px;
    }
    &__text-only {
      margin-top: 0px;
    }
  }
}

@media (max-width: 1440px) {
  .info-wrap {
    .info-inner {
      &__title {
        margin-left: 15px;
        margin-right: 15px;
      }
      &__text {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }
}

@media (max-width: 1090px) {
  .info-wrap {
    .info-inner {
      &__title {
      }
      &__text {
      }
      .info-inner__text-long {
        max-width: 705px;
      }
    }
  }
}

@media (max-width: 768px) {
  .info-wrap {
    .info-inner {
      padding: 32px 0 40px 0;
      &__title {
        font-size: 29px;
        margin-left: 16px;
        margin-right: 16px;
      }
      &__text {
        margin: 16px 0 0 0;
        font-size: 14px;
        padding-right: 16px;
        padding-left: 16px;

        div:nth-child(1) {
          padding-bottom: 14px;
        }
      }
      .info-inner__text-long {
        max-width: 705px;
      }
      &__text-only {
        margin: -8px 0 0 0;
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }
}
