.list-item {
  max-width: 338px;
  width: 100%;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    color: #555555;

    .arrow{
      display: none;
      border: solid #0051CA;
      border-width: 0 2px 2px 0;
      padding: 3px;
      transform: rotate(45deg);
      transition: all 0.3s ease;
      &.active {
        transform: rotate(-135deg);
      }
    }
  }
  &__info {
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #222222;
    display: flex;
    position: relative;
    padding-left: 14px;
    margin-top: 16px;

    &:not(:first-child) {
      margin-top: 12px;
    }
    &:before {
      position: absolute;
      width: 5px;
      height: 5px;
      color: #E5E5E5;
      left: 0;
      content: '\25A0';
    }
  }
  &__price {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;

    &-name {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #222222;
    }
    &-value {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      text-align: right;
      color: #222222;
    }
  }
}

@media (max-width: 1439px) {
  .list-item {
    &__price {
      &-value {
        width: 65px;
      }
    }
  }
}

@media (max-width: 970px) {
  .list-item {
    &__price {
      &-value {
        width: 75px;
      }
    }
  }
}
@media (max-width: 768px) {
  .list-item {
     &__title {
       .arrow{
           display: inline-block;
       }
     }
  }
}

.list-item__service{
  margin-top: 36px;
  .list-item__info {
    font-weight: normal;
    font-size: 15px;
    color: #F2F2F2;
    display: flex;
    position: relative;
    padding-left: 14px;
    margin-top: 13px;

    &:before {
      position: absolute;
      width: 6px;
      height: 6px;
      color: #F3F5FF;
      left: 0;
      content: '\25A0';
    }
  }
  @media (max-width: 970px) {
    display: none;
  }
}

.list-item__page-info{
  margin-top: 38px;
  .list-item__info {
    font-weight: normal;
    font-size: 15px;
    color: #222222;
    display: flex;
    position: relative;
    padding-left: 14px;
    margin-top: 12px;
  }
  @media (max-width: 7768px) {
    .list-item__info {
      color: #555555;
    }
  }
}
