.logo_img {
  padding-right: 25px;
}

.logo {
  display: flex;
  align-items: center;

  &__ml {
    margin-right: 25px;
    fill: #000000;
    width: 175px;
    height: 24px;
  }
  &__volvo {
    margin-right: 8px;
    fill: #000000;
    width: 32px;
    height: 32px;
  }

  &__text {
    color: black;
    fill: #000000;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-transform: uppercase;
  }
}

.logo_style-gray {
  .logo__ml {
    fill: #888888;
  }
  .logo__volvo {
    fill: #888888;
  }
  .logo__text {
    color: #888888;
  }
}