#menu-container {
  display: none;
}

//мобильное меню в нем
.popup-overlay_position-left {
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  background: rgba(22, 22, 24, 0.6);
  opacity: 0;
  transition: 0.3s linear;

  &.js-active {
    left: 0;
    z-index: 600;
    opacity: 1;
    width: 100%;
    overflow: auto;

    .popup__content {
      position: fixed;
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }
  }

  .mobile-menu {
    left: -100%;
    transition: 0.2s linear;
    width: 90%;
    height: 100%;
    position: relative;
    z-index: 150;

    &.js-open {
      left: 0;
    }
  }
}

#menu-wrapper {
  display: flex;
  height: 60px;

  &.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 500;
  }

  #hamburger-menu {
    display: flex;
    background: #222222;
    width: 50%;
    .hamburger-menu-left {
      display: flex;
      margin: 20px 8px 0 16px;
      position: relative;
      width: 35px;
    }
    span {
      opacity: 1;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 10px;
      color: #F5F5F5;
      background-color: #F5F5F5;
      position: absolute;
      transform: rotate(0);
      transition: 0.4s ease-in-out;
      &:nth-child(2) {
        top: 9px;
      }
      &:nth-child(3) {
        top: 18px;
      }
    }
  }
  .hamburger-menu-test {
    width: 50%;
    background: #0051CA;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background: #003057;
    }
  }
}

.hamburger-menu-right {
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 25px;
  color: #F5F5F5;
  margin: 15px 0 0 0;
  position: relative;
}

.btn_mob_header {
  span {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 23px;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .popup-overlay_position-left {
    .mobile-menu {
      width: 50%;
    }
  }

  #menu-container {
    display: block;
  }
  .menu-container-inner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background: #F5F5F5;
  }
  .logo_mob {
    background: #F5F5F5;
    img {
      height: 100%;
      min-height: 80px;
      width: 100%;
      min-width: 400px;
    }
  }
}

@media (max-width: 768px) {
  #menu-container {
    .menu-container-inner {
      height: 32px;
    }
  }

  .logo_mob {
    img {
      height: 100%;
      min-height: 32px;
      width: 100%;
      min-width: 1px;
    }
  }
  #menu-wrapper {
    height: 40px;
    #hamburger-menu {
      .hamburger-menu-left {
        margin: 13px 8px 13px 16px;
        width: 16px;
      }
      span {
        &:nth-child(2) {
          top: 6px;
        }
        &:nth-child(3) {
          top: 12px;
        }
      }
    }
  }
  .hamburger-menu-right {
    font-size: 17px;
    margin: 10px 0 0 0;
  }
  .btn_mob_header {
    span {
      font-size: 15px;
    }
  }
}

@media (max-width: 480px) {
  .popup-overlay_position-left {
    .mobile-menu {
      width: 90%;
    }
  }
}
