.mobile-menu {
  background: #161618;
  width: 100%;
  max-width: 767px;
  .call-block__close {
    margin-bottom: 23px;
    margin-top: 57px;
    padding-left: 9px;
  }
  .call-block__close-text {
    font-size: 17px;
    color: #FFFFFF;
  }
}

.accordion {
  color: #FFFFFF;
  &__link {
    background: #161618;
    padding-left: 16px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 17px;
    display: flex;
    align-items: center;
    height: 50px;
  }
  .inner {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 17px;
    padding-bottom: 17px;
    overflow: hidden;
    display: none;
    color: #141414;
    background: white;

    &__title {
      margin-bottom: 9px;
      font-size: 15px;
      letter-spacing: -0.02em;
      color: #141414;
      font-family: 'Roboto Condensed', 'sans-serif';
    }

    &__link {
      color: #141414;
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      font-size: 21px;
    }
    &__row {
      height: 50px;
      display: flex;
      align-items: center;
    }
    &__model {
      margin-right: 7px;
      line-height: 30px;
      font-family: 'VolvoBroadPro', 'sans-serif';
      font-size: 21px;
      color: #222222;
    }
    &__type {
      margin-top: 3px;
      line-height: 10px;
      font-size: 11px;
      text-transform: uppercase;
      color: #555555;
    }
    &__model-img {
      margin: auto 0 auto auto;
      width: 52px;
      height: 20px;
    }
    &.show {
    }
  }
  .toggle__arrow {
    margin-left: 10px;
    width: 12px;
    height: 6px;
  }
  a.toggle {
    font-size: 17px;
    padding-left: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    background: #161618;
    color: #FFFFFF;
    transition: 0.3s ease;

    &.active {
      .toggle__arrow {
        transition: 0.3s ease;
        transform: rotate(-180deg);
      }
    }
  }
}