.news-item {
  width: 100%;
  max-width: 705px;
  display: flex;
  flex-direction: row;

  &__container-image {
    height: 230px;
    width: 100%;
    max-width: 216.64px;
    margin-right: 28px;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__info-date {
    font-weight: normal;
    font-size: 15px;
    color: #386080;
  }
  &__info-name{
    width: 100%;
    max-width: 461px;
    margin-top: 6px;
    height: 144px;
    font-family: 'Roboto Condensed', 'sans-serif';
    font-weight: 300;
    font-size: 29px;
    color: #555555;
  }
  &__btn {
    margin-top: 10px;
  }

  &:nth-child(odd) {
    margin-right: 28px;
  }
}
@media (max-width: 1188px) {
  .news-item {
    &__info-name {
      font-size: 23px;
    }
  }
}
@media (max-width: 1088px) {
  .news-item {
    &__container-image {
      height: 200px;
    }
    &__info {
      width: 100%;
    }
    &__info-name{
      height: auto;
      font-size: 16px;
    }
  }
}

@media (max-width: 992px) {
  .news-item {
    &__container-image {
      height: 230px;
    }
  }
}
@media (max-width: 768px) {
  .news-item {
    &:not(:first-child) {
      margin-top: 40px;
    }
    &__img {
      width: 230px;
      height: 100%;
      max-height: 230px;
      margin-right: 0px;
    }
    &__info-name {
      height: auto;
      max-width: 460px;
      font-size: 29px;
    }
  }
}
@media (max-width: 500px) {
  .news-item {
    flex-direction: column;

    &:not(:first-child) {
      margin-top: 40px;
    }
    &__info {
      margin-top: 16px;
    }

    &__btn {
      margin-top: 24px;
    }
  }
}
