.news-wrap {
  background: #fff;
  .news-inner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 98px;

    .news__title{
      font-family: 'VolvoBroadPro', 'sans-serif';
      font-size: 63px;
      color: #222222;
      height: 50px;
    }
    .news__row {
      display: flex;
      margin-top: 40px;
    }
  }
}

@media (max-width: 1440px) {
  .news-wrap {
    .news-inner {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media (max-width: 768px) {
  .news-wrap {
    .news-inner {
      padding: 40px 16px 0 16px;

      .news__title {
        text-align: center;
        font-size: 41px;
      }
      .news__row {
        flex-direction: column;

        &:nth-child(2) {
          margin-top: 32px;
        }
      }
    }
  }
}
