.next-wrap {
  background: #fff;

  .next-inner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 98px 0;

    .next__title {
      font-family: 'VolvoBroadPro', 'sans-serif';
      font-size: 47px;
      color: #222222;
    }
    .next__button {
      display: flex;
    }
  }
}

@media (max-width: 1440px) {
  .next-wrap {
    .next-inner {
      .next__title {
        margin-left: 15px;
      }
      .next__button {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }
}

@media (max-width: 1300px) {
  .next-wrap {
    .next-inner {
      .next__title {
      }
      .next__button {
      }
    }
  }
}

@media (max-width: 768px) {
  .next-wrap {
    .next-inner {
      padding: 40px 0;
      .next__title {
        text-align: center;
        margin-left: 16px;
        margin-right: 16px;
      }
      .next__button {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        align-items: center;
      }
    }
  }
}
