.offer_wrap {
  width: 100%;
  height: 700px;
  background-image: url(../img/Rectangle.png);
  background-size: cover;
  position: relative;
  .offer {
    .offer-inner {
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      padding-top: 151px;

      .btn-white {
        max-width: 228px;
        height: 50px;
      }
      .btn-white_theme-white-width{
        max-width: 215px;
      }
    }

    .offer_title {
      max-width: 380px;
      font-family: 'VolvoBroadPro', 'sans-serif';
      line-height: 62px;
      font-size: 63px;
      color: #F2F2F2;
      z-index: 10;
    }

    .offer_sub-title {
      padding-top: 1px;
      padding-bottom: 32px;
      font-family: 'Roboto Condensed', 'sans-serif';
      font-style: normal;
      font-weight: normal;
      line-height: 41px;
      font-size: 29px;
      color: #F2F2F2;
      z-index: 10;
    }
  }
  .gradient-index {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: linear-gradient(90deg, #161618 0%, rgba(51, 51, 51, 0) 50%);
  }
}

@media (max-width: 992px) {
  .offer {
    padding-left: 16px;
    padding-right: 16px;
  }
  .offer_wrap {
    background-position: 50% 0;
    .gradient-index {
      background: linear-gradient(360deg, #161618 0%, rgba(51, 51, 51, 0) 100%);
    }
  }
}

@media (max-width: 768px) {
  .offer_wrap {
    height: 320px;
    .offer {
      .offer-inner {
        padding-top: 33px;
        height: 100%;
        .offer_title {
          font-size: 41px;
          line-height: normal;
        }
        .offer_sub-title {
          line-height: 20px;
          font-size: 16px;
          padding-top: 2px;
          padding-bottom: 101px;
        }
        .btn-white {
          max-width: 289px;
        }
      }
      .offer-inner__avto-view {
        .offer_sub-title {
          padding-bottom: 141px;
        }
      }
    }
  }
}
