.page-scroll{
  background: #FFFFFF;
  &__inner{
    width: 100%;
    max-width: 1440px;
    height: 59px;
    margin: 0 auto;
    min-height: 59px;
    display: flex;
    align-items: center;
  }
  .sidebar__list {
    list-style-type: none;
    display: flex;
    padding-left: 0;
  }
  .sidebar__link-wrap{
    height: 59px;
    display: flex;
    align-items: center;
    border-bottom: 4px solid #fff;
    transition: 0.2s linear;
    cursor: pointer;
    padding-top: 4px;

    &:not(:last-child) {
      margin-right: 40px;
    }
    &:nth-child(1) {
      margin-right: 20px;
    }
    &:nth-child(2) {
      margin-left: 60px;
    }
    /*&:not(:first-child) a:hover {
      color: #888888;
    }*/
    &:not(:first-child):hover{
      border-bottom: 4px solid #0051ca;
    }
  }
  .sidebar__link{
    font-weight: 500;
    font-size: 19px;
    color: #222222;
    transition: 0.2s linear;

  }
  .arrow-header{
    position: relative;

    &:after {
      position: absolute;
      top: -3px;
      color: #555555;
      content: url('../../assets/img/arrow.png');
      margin: 0 20px;
    }
  }
}
@media (max-width: 1440px) {
  .page-scroll{
    &__inner {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
@media (max-width: 1078px) {
  .page-scroll{
    &__inner {
      .sidebar__link{
        font-size: 17px;
      }
    }
  }
}
@media (max-width: 992px) {
  .page-scroll{
    display: none;
  }
}
