.page_info-wrap {
  background: #fff;

  .page_info-inner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 92px;

    .page_info {
      max-width: 1073px;

      &__caption {
        font-family: 'VolvoBroadPro', 'sans-serif';
        font-size: 63px;
        color: #222222;
        padding-bottom: 26px;
      }
      &__title {
        font-family: 'Roboto Condensed','sans-serif';
        font-weight: 300;
        font-size: 41px;
        color: #161618;
      }
      &__text{
        padding-top: 10px;
        font-weight: normal;
        line-height: 21px;
        font-size: 15px;
      }
      &__text-bottom {
        padding-top: 15px;
      }
      &__sub-title{
        padding-top: 15px;
        font-weight: 500;
        font-size: 19px;
        color: #555555;
      }
    }
  }
}

@media (max-width: 1440px) {
  .page_info-wrap {
    .page_info-inner {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media (max-width: 768px) {
  .page_info-wrap {
    .page_info-inner {
      padding: 40px 16px 0 16px;

      .page_info {
        &__caption {
          font-size: 41px;
          padding-bottom: 22px;
          text-align: center;
        }
        &__title {
          font-size: 29px;
        }
        &__text {
          padding-top: 16px;
          line-height: 20px;
          font-size: 14px;
        }
        &__sub-title {
          padding-top: 24px;
          font-size: 17px;
        }
      }
    }
  }
}
