.quality {
  margin-top: 42px;
}

.quality-inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.quality_image {
  margin-top: 50px;
}

.quality_image-margin {
  margin-top: 100px;
}

.quality_image-margin_none {
  margin-top: 0px;
}

.quality_block {
  display: flex;
  flex-direction: column;
}
.quality_row {
  display: flex;
}

.quality_item {
  width: 100%;
  max-width: 705px;
  display: flex;
  flex-direction: column;
  &:not(:last-child) {
    margin-right: 29px;
  }
}

.quality_title {
  font-family: 'Roboto Condensed', 'sans-serif';
  font-style: normal;
  font-weight: 300;
  font-size: 41px;
  color: #555555;
}

.quality_desc {
  width: auto;
  padding-top: 10px;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  font-size: 15px;
  color: #222222;
}
.quality_row__main-page {
    margin-top: 12px;
}
.quality_row {
  &:nth-child(1) {
    margin-bottom: 30px;
  }
}


@media (max-width: 1440px) {
  .quality {
    padding-left: 15px;
    padding-right: 15px
  }
}

@media (max-width: 1170px) {
  .quality_title {
    font-size: 36px;
  }
}

@media (max-width: 992px) {
  .quality_row {
    flex-wrap: wrap;
    &:nth-child(1) {
      margin-bottom: 0;
    }
  }
  .quality_item {
    max-width: 100%;
    margin-bottom: 20px;

    &:not(:last-child) {
      margin-right: 0;
    }
  }
}

@media (max-width: 768px) {
  .quality_image {
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .quality_image-margin {
    margin-top: 40px;
  }
  .quality {
    margin-top: 23px;
    padding-left: 16px;
    padding-right: 16px
  }
  .quality_title {
    line-height: normal;
    font-size: 29px;
  }
  .quality_desc {
    padding-top: 9px;
    line-height: 20px;
    font-size: 14px;
  }
  .quality_item {
    margin-bottom: 28px;
  }
}
