.select-info {
  margin-top: 35px;
  width: 100%;

  &__row {
    width: 100%;
    display: flex;
  }
}

@media (max-width: 992px) {
  .select-info {
    &__row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

@media (max-width: 768px) {
  .select-info {
    display: none;
  }
}