.select-block {
  max-width: 338px;
  width: 100%;
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-right: 29px;
  }

  &__title {
    margin-bottom: 12px;
    font-family: 'Roboto Condensed', 'sans-serif';
    font-style: normal;
    font-weight: 300;
    line-height: 44px;
    font-size: 31px;
    color: #555555;
  }
  &__text {
    line-height: 21px;
    font-size: 15px;
    color: #222222;
  }
}

@media (max-width: 1439px) {
  .select-block {
    &:not(:last-child) {
      margin-right: 15px;
    }
    &__title {
      line-height: 30px;
    }
  }
}

@media (max-width: 992px) {
  .select-block {
    width: 90%;
    max-width: 48%;
    margin-bottom: 15px;
    &:not(:last-child) {
      margin-right: 0;
    }
  }
}

@media (max-width: 768px) {

}