.service-wrap {
  background: #fff;

  .service-inner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 100px;

    .service__title {
      font-family: 'VolvoBroadPro', 'sans-serif';
      font-size: 47px;
      color: #222222;
      margin-bottom: 4px;
    }
    .service__row {
      display: flex;
      margin-top: 38px;
    }
  }
}

@media (max-width: 1440px) {
  .service-wrap {
    .service-inner {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media (max-width: 768px) {
  .service-wrap {
    .service-inner {
      padding: 40px 0 0 0;

      .service__title {
        padding-left: 16px;
        padding-right: 16px;
        font-size: 39px;
        text-align: center;
      }
      .service__row {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
