.service_header {
  max-width: 338px;
  z-index: 10;
  &__title {
    font-family: 'VolvoBroadPro', 'sans-serif';
    font-size: 63px;
    color: #F2F2F2;
  }
  &__descr{
    margin-top: 29px;
    font-weight: normal;
    line-height: 21px;
    font-size: 15px;
    color: #F2F2F2;
  }
}

@media (max-width: 768px) {
  .service_header {
    &__title {
      font-size: 41px;
    }
    &__descr {
      margin-top: 8px;
      line-height: 20px;
      font-size: 14px;
    }
  }
}