.service-item {
  width: 100%;
  max-width: 460px;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &__name{
    margin-top: 12px;
    font-family: 'Roboto Condensed','sans-serif';
    font-weight: 300;
    font-size: 29px;
    color: #555555;
  }
}

@media (max-width: 1252px) {
  .service-item {
    &__name {
      height: 70px;
    }
  }
}

@media (max-width: 768px) {
  .service-item {

    &:not(:first-child) {
      margin-top: 40px;
    }
    &:not(:last-child) {
      margin-right: 0px;
    }
    &__name {
      height: auto;
      margin-top: 24px;
      font-size: 29px;
      padding-left: 16px;
      padding-right: 16px;
    }
    &__btn {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}