.set-wrap {
  background: #fff;

  .set-inner {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 92px 0 100px 0;

    .set {
      display: flex;
      flex-direction: column;

      &:not(:first-child) {
        margin-top: 26px;
      }

      &__title {
        font-family: 'Roboto Condensed', 'sans-serif';
        font-style: normal;
        font-weight: 300;
        font-size: 41px;
        color: #555555;
      }
      &__price {
        padding-top: 26px;
        display: flex;
        flex-direction: column;

        &__s {
          font-family: 'Roboto Condensed', 'sans-serif';
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 25px;
          text-decoration-line: line-through;
          color: #000000;
        }
        &__b {
          font-family: 'Roboto Condensed', 'sans-serif';
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 41px;
          color: #000000;
        }
      }
      &__list {
        display: flex;
        margin-top: 34px;
      }
      .set__list-last {
        margin-top: 24px;
      }
    }
  }
}

@media (max-width: 1440px) {
  .set-wrap {
    .set-inner {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media (max-width: 768px) {
  .set-wrap {
    .set-inner {
      padding: 40px 16px;
      .set {
        &__title {
          font-size: 29px;
        }
        &__price {
          padding-top: 24px;
        }
        &__list {
          flex-wrap: wrap;
          margin-top: 36px;
          .list-item{
            max-width: 768px;
            border: 1px solid #E5E5E5;
            &:not(:last-child) {
              margin-right: 0px;
            }
            &:not(:first-child) {
              margin-top: 16px;
            }
          }
          .list-item__title{
              padding-left: 30px;
              padding-right: 30px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 40px;
              border-radius: 3px;
              cursor: pointer;
              font-weight: 500;
              line-height: 24px;
              font-size: 17px;
              color: #555555;
              background: #E5E5E5;
          }
          .list-item__info-wrap {
            display: none;
            padding: 0px 16px 24px 16px;
            .list-item__info{
              margin-top: 16px;
            }
          }
        }
      }
      .set__list-last {
        flex-direction: column;
        margin-top: 32px;

        .list-item {
          max-width: 768px;
          border: none;
          &:not(:first-child) {
              margin-top: 0px;
            }

          &__price {
            border-bottom: none;
            margin-top: 24px;
          }
          &:nth-child(2) {
            .list-item__title {
              display: none;
            }
          }
          &:nth-child(3) {
            .list-item__title {
              display: none;
            }
          }
        }
        .list-item__title{
              padding-left: 0;
              padding-right: 0;
              display: flex;
              justify-content: flex-start;
              height: auto;
              border-radius: 0;
              cursor: default;
              font-weight: 500;
              line-height: 24px;
              font-size: 17px;
              color: #555555;
              background: none;
        }
      }
    }
  }
}
