.js-slider-auto-selekt {
  margin-right: 30px;
  &:hover {
      .swiper-container.gallery-top {
        .swiper-arrow-inner {
          .swiper-button-prev {
            opacity: 1;
          }
          .swiper-button-next {
            opacity: 1;
          }
        }
      }
    }
  .swiper-container {
    width: 100%;
    height: 380px;
    /*&:hover {
      &.gallery-top {
        .swiper-arrow-inner {
          .swiper-button-prev {
            opacity: 1;
          }
          .swiper-button-next {
            opacity: 1;
          }
        }
      }
    }*/
    &.gallery-top {
      margin-bottom: 4px;
      max-width: 583px;
      width: 100%;
      .swiper-arrow-inner {
        .swiper-button-prev {
          opacity: 0;
          transition: 0.2s linear;
        }
        .swiper-button-next {
          opacity: 0;
          transition: 0.2s linear;
        }
      }
    }
  }

  .swiper-slide-container {
    text-align: center;
    font-size: 18px;
    background: #fff;
    margin: auto;
    height: 100%;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .gallery-thumbs {
    max-width: 585px;
    width: 100%;
    height: 80px;
    background: #dedede;

    .swiper-slide {
      width: 20%;
      height: 100%;
      background: #dedede;
    }
  }
}

@media (max-width: 992px) {
  .js-slider-auto-selekt {
    margin-right: 0;
    .swiper-container {
      &.gallery-top {
        .swiper-arrow-inner {
          .swiper-button-prev {
            opacity: 1;
          }
          .swiper-button-next {
            opacity: 1;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .js-slider-auto-selekt {

    .swiper-slide-container {
      object-fit: contain;
    }
  }
}

@media (max-width: 480px) {
  .js-slider-auto-selekt {
    .swiper-slide-container {
      object-fit: cover;
    }
    .swiper-container {
      &.gallery-top {
        margin-bottom: 0;
        height: 240px;
      }
    }
    .swiper-slide-container {
      height: 100%;
    }
  }
}
