.specifications {
  padding-left: 15px;
  padding-right: 15px;
}

.specifications-block {
  width: 100%;
  max-width: 1440px;
  margin: 93px auto 0;

  &__title {
    margin-bottom: 36px;
    font-size: 47px;
    color: #222222;
    font-family: 'VolvoBroadPro', 'sans-serif';
  }

  &__flex {
    width: 100%;
    display: flex;
    .js-tabs {
      width: 100%;
      display: flex;

      .btn-white_small-tab {
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
    .js-sub-tabs {
      margin-bottom: 40px;
      width: 100%;
      display: flex;
      .btn-white_big-tab {
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
    .tab-box {
      width: 100%;
    }
    .btn-white {
      &.btn-white_small-tab {
        max-width: 199px;
      }
      &.btn-white_big-tab {
        min-height: 40px;
        height: 100%;
        max-width: 293px;
      }
    }
  }

  &__line {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #E5E5E5;
    height: 1px;
    max-width: 1188px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .specifications {
    padding-left: 8px;
    padding-right: 8px;
  }
  .specifications-block {
    margin: 40px auto 0;
    &__line {
      display: none;
    }
    &__title {
      text-align: center;
      margin-bottom: 16px;
    }
    &__flex {
      .js-tabs {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .btn-white_small-tab {
          max-width: 48%;
          &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 8px;
          }
        }
      }
      .js-sub-tabs {
        background: #F5F5F5;
        margin-bottom: 24px;
        padding: 8px 0 0 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .btn-white_big-tab {
          max-width: 48%;
          &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}
