.spec-avto {
  width: 100%;
  max-width: 338px;

  &:not(:last-child) {
    margin-right: 30px;
  }
  &__img {
    height: 100%;
    max-height: 180px;
  }
  &__info {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .info-model {
      font-family: 'VolvoBroadPro', 'sans-serif';
      font-size: 47px;
      color: #222222;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &__type {
        margin-left: 6px;
        font-family: 'Roboto Condensed', 'sans-serif';
        font-weight: 300;
        font-size: 15px;
        line-height: 14px;
        text-transform: uppercase;
        color: #555555;
      }
    }
    .info-price {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-right: 10px;
      &__small {
        font-family: 'Roboto Condensed', 'sans-serif';
        font-weight: normal;
        font-size: 15px;
        text-align: right;
        color: #555555;
        &_line-through{
          text-decoration-line: line-through;
        }
      }
      &__big {
        font-family: 'Roboto Condensed', 'sans-serif';
        font-weight: bold;
        font-size: 25px;
        text-align: right;
        color: #222222;
        margin-top: -5px;
      }
    }
  }
  &:hover {
    .btn_blue-spec {
      background: #0051CA;
      color: #FFFFFF;
    }
  }
}

@media (max-width: 1291px) {
  .spec-avto {

    &__img {
      height: auto;
    }
    &__info {
      .info-model {
        font-size: 40px;
        &__type {
          font-size: 12px;
        }
      }
      .info-price {
        &__small {
          font-size: 12px;
        }
        &__big {
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .spec-avto {
    max-width: 354px;
    margin-top: 40px;

    &:not(:last-child) {
      margin-right: 0px;
    }
    &:nth-child(odd) {
      margin-right: 30px;
    }
    &__img {
      height: 100%;
      max-height: 215px;
    }
    &__info {
      .info-model {
        font-size: 39px;
        &__type {
          font-size: 15px;
        }
      }
      .info-price {
        &__small {
          font-size: 17px;
        }
        &__big {
          font-size: 25px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .spec-avto {
    max-width: 400px;
    margin-top: 24px;

    &:not(:first-child) {
      margin-top: 20px;
    }
    &:not(:last-child) {
      margin-right: 0px;
    }
    &:nth-child(odd) {
      margin-right: 0px;
    }
  }
}

@media (max-width: 440px) {
  .spec-avto {
    &__img {
      height: auto;
      max-height: 215px;
    }
  }
}
