.gallery-swiper {
  margin-top: 60px;
  height: 500px;
  .swiper-container-auto-view{
    width: 100%;
    max-width: 1920px;
    height: 500px;
    background: #000;

    .swiper-slide {
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      text-align: center;
      font-size: 18px;
      background: #fff;
      position: relative;

      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background: #000;

      &__img {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .text {
        max-width: 1440px;
        width: 100%;
        height: 80px;
        /*background: #fff;*/
        opacity: 0.8;

        display: flex;
        justify-content: center;
        align-items: center;

        font-style: normal;
        font-weight: normal;
        line-height: 21px;
        font-size: 15px;
        text-align: center;
        color: #222222;

        &__info {
          max-width: 705px;
          width: 100%;
          margin: 0 auto;
        }
      }
    }
    .swiper-slide__gradient {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    }
    .swiper-slide-active .swiper-slide__gradient {
      background: none;
    }
    .swiper-slide-active .text {
      background: #FFFFFF;
    }

  }
  .swiper-pagination-wrapper{
    width: 100%;
    max-width: 1920px;
    top: -556px;
    margin: 0 auto;
    position: relative;
  }
  /*.swiper-pagination-line{
    border-bottom: 2px solid #E5E5E5;
    position: relative;
    width: 100%;
    max-width: 571px;
    margin: 0 auto;
    top: -561px;
    z-index: 15;
  }    */
  /*.swiper-pagination-line{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 155px;
  }
  .gray-line{
    border-bottom: 2px solid #e5e5e5;
    width: 100%;
    max-width: 155px;
    top: -5px;
    position: relative;
  }    */
  .swiper-pagination {
      max-width: 692px;
      top: 0;
      height: 40px;
      background: #fff;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      position: relative;
      /*border-bottom: 2px solid #E5E5E5;*/
    }
    .swiper-pagination-bullet {
      width: 100%;
      max-width: 173px;
      height: 40px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 15px;
      color: #555555;
      opacity: 1;
      background: #fff;
      border-bottom: 2px solid #E5E5E5;
      border-radius: 0;
      padding-bottom: 6px;
      margin-top: -3px;
    }
    button.swiper-pagination-bullet {
      background: #fff;
      /*border-bottom: 2px solid #fff;*/
    }
    .swiper-pagination-bullet-active {
      border-bottom: 8px solid #1251B5;
      opacity: 1;
      background: #fff;
      padding-bottom: 6px;
      margin-top: 0;
      z-index: 20;
    }
    .swiper-slide-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 0;
      /*display: flex;  */
    }
    .swiper-pagination-bullets {
      bottom: 10px;
      left: 0;
      /*width: 100%;*/
    }
}

@media (max-width: 1220px) {
  .gallery-swiper {
    margin-top: 30px;
    height: 440px;
    .swiper-container-auto-view {
      height: 440px;
    }
    .swiper-pagination-wrapper {
      top: -494px;
    }
  }
}
@media (max-width: 992px) {
  .gallery-swiper {
    margin-top: 40px;
    height: 340px;
    .swiper-container-auto-view {
      height: 340px;
    }
    .swiper-pagination-wrapper {
      top: -387px;
    }
  }
}
@media (max-width: 768px) {
  .gallery-swiper {
    margin-top: 60px;
    height: 320px;
    .swiper-container-auto-view {
      height: 320px;
      .swiper-slide {
        &__img {
          object-fit: cover;
        }
      }
    }
    .swiper-pagination-wrapper {
      top: -375px;
      padding-left: 16px;
      padding-right: 16px;
      overflow-x: scroll;
    }
    .swiper-pagination {
      /*max-width: 100%;*/
      width: 692px;
    }
    /*.swiper-pagination-bullet {
      font-size: 13px;
      padding-right: 4px;
      padding-left: 4px;
    }*/
  }
}
@media (max-width: 492px) {
  .gallery-swiper {
    .swiper-container-auto-view{
      .swiper-slide {
        .text {
          height: auto;
          font-size: 14px;
          text-align: left;
          &__info {
            padding: 16px 8px;
          }
        }
      }
    }
  }
}


