// Config component
@import 'default/_vars';
@import 'default/_normalize';
@import 'default/_fonts';
// blocks страницы/блоки на страницах
@import 'blocks/_header.scss';
@import 'blocks/_nav.scss';
@import 'blocks/_sidebar.scss';
@import 'blocks/_main.scss';
@import 'blocks/_footer.scss';
@import 'blocks/_spec_offer.scss';
@import 'blocks/_equipment.scss';
@import 'blocks/_all-spec.scss';
//component элементы на сайте
@import 'component/_main-info.scss';
@import 'component/_btn_blue.scss';
@import 'component/_btn-white';
@import 'component/_btn-call.scss';
@import 'component/_logo.scss';
@import 'component/_auto-block.scss';
@import 'component/_auto-presence';
@import 'component/_menu-mobile.scss';
@import 'component/_offer.scss';
@import 'component/_block.scss';
@import 'component/_avto-list.scss';
@import 'component/_quality.scss';
@import 'component/_app.scss';
@import 'component/_spec-avto.scss';
@import 'component/_gallery.scss';
@import 'component/_info.scss';
@import 'component/_create.scss';
@import 'component/_swiper-slider.scss';
@import 'component/_column.scss';
@import 'component/_next.scss';
@import 'component/_call-block';
@import 'component/_form';
@import 'component/_menu-mobile-open';
@import 'component/_features';
@import 'component/_img_row';
@import 'component/_set';
@import 'component/_list-item';
@import 'component/_form_section';
@import 'component/_form_block';
@import 'component/_specifications-block';
@import 'component/_auto-view-accordion';
@import 'component/_car-select';
@import 'component/_select-info';
@import 'component/_select-block';
@import 'component/_auto-miles';
@import 'component/_auto-select-swiper';
@import 'component/_finance';
@import 'component/_finance-item';
@import 'component/_service_header';
@import 'component/_service';
@import 'component/_service-item';
@import 'component/_page_info';
@import 'component/_article';
@import 'component/_news-item';
@import 'component/_news';
@import 'component/_auto-select';
@import 'component/_page-scroll';
@import 'component/_slider-auto-selekt';
// Enhancement component
@import 'component/_breakpoints.scss';
@import 'component/_print.scss';

.none {
  display: none;
}

body {
  overflow-x: hidden;
  position: relative;
}
::selection {
    background: #0051CA;
    color: #fff;
}

.page {
  padding-left: 15px;
  padding-right: 15px;
  .page-inner {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
  }
}

@media (max-width: 768px) {
  .page {
    padding: 0;
  }
}

.nav,
.offer{
  padding-left: 15px;
  padding-right: 15px;
}
